Repository koxudaxi/datamodel-code-generator: changes, and which pre-commit hooks are due for each by the changed paths.
All: readme, config-types

.pre-commit-config.yaml:

repos:
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.35.0
  hooks:
    - id: check-github-workflows
      args: [ "--verbose" ]
- repo: https://github.com/tox-dev/tox-ini-fmt
  rev: "1.7.1"
  hooks:
    - id: tox-ini-fmt
      args: ["-p", "fix"]
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: v2.11.1
  hooks:
    - id: pyproject-fmt
      args: ["--max-supported-python=3.14"]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: 'v0.14.9'
  hooks:
  - id: ruff-format
    exclude: "^tests/data|^src/datamodel_code_generator/_types/"
  - id: ruff
    exclude: "^tests/data|^src/datamodel_code_generator/_types/"
    args: ["--fix", "--unsafe-fixes", "--exit-non-zero-on-fix"]
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    additional_dependencies:
    - tomli
    exclude: "^tests/|^CODE_OF_CONDUCT.md|^docs/cli-reference/"
- repo: local
  hooks:
  - id: readme
    name: Update README command help
    entry: bash -c '[ -x .tox/fix/bin/python ] && PYTHON=.tox/fix/bin/python || PYTHON=.tox/fix/Scripts/python; test -x "$PYTHON" || tox run -e fix --notest -qq; "$PYTHON" scripts/update_command_help_on_markdown.py'
    language: system
    files: ^(src/datamodel_code_generator/arguments\.py|README\.md|docs/index\.md)$
    pass_filenames: false
  - id: config-types
    name: Generate config TypedDicts
    entry: bash -c '[ -x .tox/dev/bin/python ] && PREFIX=.tox/dev/bin || PREFIX=.tox/dev/Scripts; test -x "$PREFIX/python" || tox run -e dev --notest -qq; "$PREFIX/datamodel-codegen" --profile generate-config-dict && "$PREFIX/datamodel-codegen" --profile parser-config-dicts && "$PREFIX/datamodel-codegen" --profile parse-config-dict'
    language: system
    files: ^src/datamodel_code_generator/config\.py$
    pass_filenames: false

Fix path-absolute local refs
  src/datamodel_code_generator/reference.py
  tests/data/expected/main/jsonschema/path_absolute_root_id_refs/__init__.py
  tests/data/expected/main/jsonschema/path_absolute_root_id_refs/core/__init__.py
  tests/data/expected/main/jsonschema/path_absolute_root_id_refs/core/platform_extension_ref.py
  tests/data/expected/main/jsonschema/path_absolute_root_id_refs/formats/__init__.py
  tests/data/expected/main/jsonschema/path_absolute_root_id_refs/formats/canonical/__init__.py
  tests/data/expected/main/jsonschema/path_absolute_root_id_refs/formats/canonical/_base.py
  tests/data/expected/main/jsonschema/path_absolute_root_id_refs/product_format_declaration.py
  tests/data/jsonschema/path_absolute_root_id_refs/core/platform-extension-ref.json
  tests/data/jsonschema/path_absolute_root_id_refs/formats/canonical/_base.json
  tests/data/jsonschema/path_absolute_root_id_refs/product-format-declaration.json
  tests/main/jsonschema/test_main_jsonschema.py
  tests/test_reference.py
Due: none

Add generated header marker option
  docs/cli-reference/base-options.md
  docs/cli-reference/index.md
  docs/cli-reference/quick-reference.md
  docs/cli-reference/template-customization.md
  docs/llms-full.txt
  docs/llms.txt
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/prompt_data.py
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main/input_model/config_class.py
  tests/data/expected/main/openapi/enable_generated_header_marker.py
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/main/openapi/test_main_openapi.py
  tests/main/test_public_api_signature_baseline.py
Due: readme, config-types

Cover path-absolute local ref fallbacks
  tests/test_reference.py
Due: none

Fix typed additionalProperties extras
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/jsonschema/additional_properties_array_schema_with_properties.py
  tests/data/expected/main/jsonschema/additional_properties_enum_schema_with_properties.py
  tests/data/expected/main/jsonschema/additional_properties_object_schema_with_properties.py
  tests/data/expected/main/jsonschema/additional_properties_oneof_schema_with_required_property.py
  tests/data/expected/main/jsonschema/additional_properties_ref_schema_with_keywords_and_properties.py
  tests/data/expected/main/jsonschema/additional_properties_schema_with_properties.py
  tests/data/jsonschema/additional_properties_oneof_schema_with_required_property.json
  tests/data/jsonschema/additional_properties_ref_schema_with_keywords_and_properties.json
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Fix dataclass field ordering (#3203)
  src/datamodel_code_generator/model/dataclass.py
  tests/data/expected/main/jsonschema/pydantic_v2_dataclass_required_field_order.py
  tests/data/jsonschema/pydantic_v2_dataclass_required_field_order.json
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Add generated header marker option (#3208)
  docs/cli-reference/index.md
  docs/cli-reference/quick-reference.md
  docs/cli-reference/template-customization.md
  docs/llms-full.txt
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/prompt_data.py
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main/input_model/config_class.py
  tests/data/expected/main/openapi/enable_generated_header_marker.py
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/main/openapi/test_main_openapi.py
  tests/main/test_public_api_signature_baseline.py
Due: readme, config-types

Guard path-absolute refs against traversal
  src/datamodel_code_generator/reference.py
  tests/data/expected/main/jsonschema/path_absolute_root_id_refs/core/platform_extension_ref.py
  tests/data/expected/main/jsonschema/path_absolute_root_id_refs/formats/canonical/_base.py
  tests/data/jsonschema/path_absolute_root_id_refs/formats/canonical/_base.json
  tests/test_reference.py
Due: none

Cover path-absolute ref traversal
  src/datamodel_code_generator/reference.py
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Use guard clauses for path refs
  src/datamodel_code_generator/reference.py
Due: none

Use fixtures for path ref tests
  src/datamodel_code_generator/reference.py
  tests/data/jsonschema/path_absolute_root_id_refs_parent_traversal/outside-platform-extension-ref.json
  tests/data/jsonschema/path_absolute_root_id_refs_parent_traversal/schema-root/formats/canonical/_base.json
  tests/data/jsonschema/path_absolute_root_id_refs_parent_traversal/schema-root/product-format-declaration.json
  tests/data/jsonschema/unresolved_local_id.json
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Fix path-absolute local refs (#3207)
  src/datamodel_code_generator/reference.py
  tests/data/expected/main/jsonschema/path_absolute_root_id_refs/__init__.py
  tests/data/expected/main/jsonschema/path_absolute_root_id_refs/core/__init__.py
  tests/data/expected/main/jsonschema/path_absolute_root_id_refs/core/platform_extension_ref.py
  tests/data/expected/main/jsonschema/path_absolute_root_id_refs/formats/__init__.py
  tests/data/expected/main/jsonschema/path_absolute_root_id_refs/formats/canonical/__init__.py
  tests/data/expected/main/jsonschema/path_absolute_root_id_refs/formats/canonical/_base.py
  tests/data/expected/main/jsonschema/path_absolute_root_id_refs/product_format_declaration.py
  tests/data/jsonschema/path_absolute_root_id_refs/core/platform-extension-ref.json
  tests/data/jsonschema/path_absolute_root_id_refs/formats/canonical/_base.json
  tests/data/jsonschema/path_absolute_root_id_refs/product-format-declaration.json
  tests/data/jsonschema/path_absolute_root_id_refs_parent_traversal/outside-platform-extension-ref.json
  tests/data/jsonschema/path_absolute_root_id_refs_parent_traversal/schema-root/formats/canonical/_base.json
  tests/data/jsonschema/path_absolute_root_id_refs_parent_traversal/schema-root/product-format-declaration.json
  tests/data/jsonschema/unresolved_local_id.json
  tests/main/jsonschema/test_main_jsonschema.py
  tests/test_reference.py
Due: none

Fix typed additional properties handling
  src/datamodel_code_generator/model/base.py
  src/datamodel_code_generator/model/pydantic_v2/base_model.py
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/jsonschema/additional_properties_anyof_schema_with_required_property.py
  tests/data/expected/main/jsonschema/additional_properties_anyof_schema_without_nullable_property.py
  tests/data/expected/main/jsonschema/additional_properties_schema_with_allof_properties.py
  tests/data/expected/main/jsonschema/additional_properties_schema_with_allof_ref.py
  tests/main/jsonschema/test_main_jsonschema.py
  tests/model/test_base.py
  tests/test_reference.py
Due: none

Fix typed additionalProperties extras (#3205)
  src/datamodel_code_generator/model/base.py
  src/datamodel_code_generator/model/pydantic_v2/base_model.py
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/jsonschema/additional_properties_anyof_schema_with_required_property.py
  tests/data/expected/main/jsonschema/additional_properties_anyof_schema_without_nullable_property.py
  tests/data/expected/main/jsonschema/additional_properties_array_schema_with_properties.py
  tests/data/expected/main/jsonschema/additional_properties_const_schema_with_properties.py
  tests/data/expected/main/jsonschema/additional_properties_enum_schema_with_properties.py
  tests/data/expected/main/jsonschema/additional_properties_object_schema_with_properties.py
  tests/data/expected/main/jsonschema/additional_properties_oneof_schema_with_required_property.py
  tests/data/expected/main/jsonschema/additional_properties_ref_schema_with_keywords_and_properties.py
  tests/data/expected/main/jsonschema/additional_properties_schema_with_allof_properties.py
  tests/data/expected/main/jsonschema/additional_properties_schema_with_allof_ref.py
  tests/data/expected/main/jsonschema/additional_properties_schema_with_properties.py
  tests/data/jsonschema/additional_properties_oneof_schema_with_required_property.json
  tests/data/jsonschema/additional_properties_ref_schema_with_keywords_and_properties.json
  tests/main/jsonschema/test_main_jsonschema.py
  tests/model/test_base.py
  tests/test_reference.py
Due: none

Require Pydantic 2.6
  pyproject.toml
  tests/data/jsonschema/pydantic_v2_runtime_value.json
  tests/main/test_main_general.py
  uv.lock
Due: none

Require Pydantic 2.6 (#3210)
  pyproject.toml
  tests/data/jsonschema/pydantic_v2_runtime_value.json
  tests/main/test_main_general.py
  uv.lock
Due: none

Add experimental feature list
  docs/cli-reference/index.md
  docs/cli-reference/manual/list-experimental.md
  docs/cli-reference/quick-reference.md
  docs/cli-reference/utility-options.md
  docs/experimental.md
  docs/llms-full.txt
  docs/llms.txt
  scripts/build_cli_docs.py
  scripts/build_experimental_docs.py
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/experimental.py
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/main/test_main_general.py
  tests/test_build_experimental_docs_script.py
  tests/test_experimental.py
  tox.ini
  zensical.toml
Due: readme

Fix scoped type-ovverrides change more fields then intended
  src/datamodel_code_generator/parser/base.py
Due: none

Use generation_store.replace_field_type instead of direct assignment
  src/datamodel_code_generator/parser/base.py
Due: none

Add experimental feature list (#3211)
  docs/cli-reference/index.md
  docs/cli-reference/manual/list-experimental.md
  docs/cli-reference/quick-reference.md
  docs/cli-reference/utility-options.md
  docs/experimental.md
  docs/llms-full.txt
  docs/llms.txt
  scripts/build_cli_docs.py
  scripts/build_experimental_docs.py
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/experimental.py
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/main/test_main_general.py
  tests/test_build_experimental_docs_script.py
  tests/test_experimental.py
  tox.ini
  zensical.toml
Due: readme

Fix scoped type-overrides changing more fields then intended (#3213)
  src/datamodel_code_generator/parser/base.py
Due: none

Copy mapped data types
  src/datamodel_code_generator/model/pydantic_v2/types.py
  src/datamodel_code_generator/model/types.py
  src/datamodel_code_generator/types.py
  tests/model/pydantic_v2/test_dataclass.py
  tests/model/test_base.py
Due: none

Copy mapped data types (#3214)
  src/datamodel_code_generator/model/pydantic_v2/types.py
  src/datamodel_code_generator/model/types.py
  src/datamodel_code_generator/types.py
  tests/model/pydantic_v2/test_dataclass.py
  tests/model/test_base.py
Due: none

Support Pydantic 2.5
  .github/workflows/test.yaml
  pyproject.toml
  src/datamodel_code_generator/model/__init__.py
  src/datamodel_code_generator/model/base.py
  src/datamodel_code_generator/model/dataclass.py
  src/datamodel_code_generator/model/msgspec.py
  src/datamodel_code_generator/model/pydantic_base.py
  src/datamodel_code_generator/model/pydantic_v2/base_model.py
  src/datamodel_code_generator/model/pydantic_v2/dataclass.py
  src/datamodel_code_generator/model/pydantic_v2/types.py
  src/datamodel_code_generator/model/typed_dict.py
  src/datamodel_code_generator/types.py
  tox.ini
  uv.lock
Due: none

Support Pydantic 2.5 (#3215)
  .github/workflows/test.yaml
  pyproject.toml
  src/datamodel_code_generator/model/__init__.py
  src/datamodel_code_generator/model/base.py
  src/datamodel_code_generator/model/dataclass.py
  src/datamodel_code_generator/model/msgspec.py
  src/datamodel_code_generator/model/pydantic_base.py
  src/datamodel_code_generator/model/pydantic_v2/base_model.py
  src/datamodel_code_generator/model/pydantic_v2/dataclass.py
  src/datamodel_code_generator/model/pydantic_v2/types.py
  src/datamodel_code_generator/model/typed_dict.py
  src/datamodel_code_generator/types.py
  tox.ini
  uv.lock
Due: none

Fix docs preview deploy
  .github/workflows/docs-deploy.yaml
Due: none

Update supported input formats
  docs/cli-reference/base-options.md
  docs/index.md
  docs/jsondata.md
  docs/llms-full.txt
  docs/llms.txt
  docs/supported-data-types.md
  docs/supported_formats.md
  docs/xmlschema.md
  tests/main/test_main_json.py
  zensical.toml
Due: readme

Fix JSON Schema Core link
  docs/llms-full.txt
  docs/supported-data-types.md
Due: none

Add playground
  .github/workflows/docs-deploy.yaml
  .github/workflows/playground-lint.yaml
  .gitignore
  README.md
  docs/assets/playground/THIRD_PARTY_LICENSES.txt
  docs/assets/playground/app.py
  docs/assets/playground/editor.js
  docs/assets/playground/index.html
  docs/assets/playground/main.js
  docs/assets/playground/pyproject.toml
  docs/assets/playground/styles.css
  docs/assets/playground/worker.js
  docs/index.md
  docs/playground.md
  pyproject.toml
  scripts/build_playground_assets.py
  scripts/lint_playground.sh
  tox.ini
  uv.lock
  zensical.toml
Due: readme

Update supported input formats (#3219)
  docs/cli-reference/base-options.md
  docs/index.md
  docs/jsondata.md
  docs/llms-full.txt
  docs/llms.txt
  docs/supported-data-types.md
  docs/supported_formats.md
  docs/xmlschema.md
  tests/main/test_main_json.py
  zensical.toml
Due: readme

Fix docs preview deploy (#3218)
  .github/workflows/docs-deploy.yaml
Due: none

Simplify playground worker bridge
  docs/assets/playground/THIRD_PARTY_LICENSES.txt
  docs/assets/playground/app.py
  docs/assets/playground/main.js
  docs/assets/playground/worker.js
Due: none

Update zensical
  pyproject.toml
  uv.lock
Due: none

Address playground review comments
  docs/index.md
  docs/playground.md
  scripts/build_playground_assets.py
Due: readme

Update zensical (#3220)
  pyproject.toml
  uv.lock
Due: none

Fix playground CodeMirror loading
  docs/assets/playground/THIRD_PARTY_LICENSES.txt
  docs/assets/playground/editor.js
  docs/assets/playground/index.html
Due: none

Refine playground config support
  README.md
  docs/assets/playground/app.py
  docs/assets/playground/main.js
  docs/assets/playground/styles.css
  docs/assets/playground/worker.js
  scripts/build_playground_assets.py
Due: readme

Use standalone playground page
  .github/workflows/docs-deploy.yaml
  docs/assets/playground/app.py
  docs/assets/playground/editor.js
  docs/assets/playground/styles.css
  docs/index.md
  docs/playground.md
Due: readme

Polish playground docs link
  docs/index.md
  docs/playground.md
  overrides/main.html
Due: readme

Fix docs icon initial render
  overrides/main.html
Due: none

Avoid raw docs initial paint
  overrides/main.html
Due: none
