Repository koxudaxi/datamodel-code-generator: changes, and which pre-commit hooks are due for each by the changed paths.
All: readme, config-types

readme:
  name: Update README command help
  entry: bash -c '[ -x .tox/fix/bin/python ] && PYTHON=.tox/fix/bin/python || PYTHON=.tox/fix/Scripts/python; test -x "$PYTHON" || tox run -e fix --notest -qq; "$PYTHON" scripts/update_command_help_on_markdown.py'
  language: system
  pass_filenames: false

config-types:
  name: Generate config TypedDicts
  ...

Preserve schema metadata extras
  docs/supported_formats.md
  src/datamodel_code_generator/parser/jsonschema.py
  src/datamodel_code_generator/parser/schema_version.py
  tests/data/expected/main/jsonschema/schema_metadata_v2.py
  tests/data/jsonschema/schema_metadata.json
  tests/main/jsonschema/test_main_jsonschema.py
  tests/parser/test_jsonschema.py
Due: none

Add OpenAPI info version constant
  docs/cli-reference/index.md
  docs/cli-reference/openapi-only-options.md
  docs/cli-reference/quick-reference.md
  docs/llms-full.txt
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/parser/openapi.py
  src/datamodel_code_generator/prompt_data.py
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main/input_model/config_class.py
  tests/data/expected/main/openapi/info_version.py
  tests/data/expected/main/openapi/modular_info_version/__init__.py
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/main/openapi/test_main_openapi.py
  tests/main/test_public_api_signature_baseline.py
  tests/parser/test_openapi.py
Due: readme, config-types

Add object type option
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/model/dataclass.py
  src/datamodel_code_generator/model/msgspec.py
  src/datamodel_code_generator/model/pydantic_v2/types.py
  src/datamodel_code_generator/model/types.py
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/parser/jsonschema.py
  src/datamodel_code_generator/prompt_data.py
  src/datamodel_code_generator/types.py
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main/jsonschema/use_object_type_typed_dict.py
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/data/jsonschema/use_object_type.json
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/test_public_api_signature_baseline.py
Due: readme, config-types

Clarify contains support description
  docs/supported_formats.md
  src/datamodel_code_generator/parser/schema_version.py
Due: none

Add builtin formatter warning
  docs/cli-reference/template-customization.md
  docs/formatting.md
  docs/llms-full.txt
  docs/llms.txt
  pyproject.toml
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/format.py
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/main/test_main_general.py
  tests/test_format.py
  tests/test_main_kr.py
Due: readme

Fix allOf multipleOf intersection
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/openapi/allof_with_required_inherited_coverage.py
  tests/data/openapi/allof_with_required_inherited_coverage.yaml
Due: none

Add OpenAPI info version branch coverage
  tests/parser/test_openapi.py
Due: none

Fix allOf multipleOf intersection (#3172)
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/openapi/allof_with_required_inherited_coverage.py
  tests/data/openapi/allof_with_required_inherited_coverage.yaml
Due: none

Align schema feature support status (#3174)
  docs/supported_formats.md
  src/datamodel_code_generator/parser/schema_version.py
Due: none

Support additional JSON Schema string formats (#3173)
  docs/supported-data-types.md
  docs/supported_formats.md
  src/datamodel_code_generator/parser/jsonschema.py
  src/datamodel_code_generator/parser/schema_version.py
  tests/parser/test_jsonschema.py
  tests/parser/test_schema_version.py
Due: none

Add OpenAPI info version constant (#3176)
  docs/cli-reference/index.md
  docs/cli-reference/openapi-only-options.md
  docs/cli-reference/quick-reference.md
  docs/llms-full.txt
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/parser/openapi.py
  src/datamodel_code_generator/prompt_data.py
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main/input_model/config_class.py
  tests/data/expected/main/openapi/info_version.py
  tests/data/expected/main/openapi/modular_info_version/__init__.py
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/main/openapi/test_main_openapi.py
  tests/main/test_public_api_signature_baseline.py
  tests/parser/test_openapi.py
Due: readme, config-types

Fix object type CI
  src/datamodel_code_generator/model/pydantic_v2/types.py
  tests/data/expected/main/input_model/config_class.py
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Preserve schema metadata extras (#3175)
  docs/supported_formats.md
  src/datamodel_code_generator/parser/jsonschema.py
  src/datamodel_code_generator/parser/schema_version.py
  tests/data/expected/main/jsonschema/schema_metadata_v2.py
  tests/data/jsonschema/schema_metadata.json
  tests/main/jsonschema/test_main_jsonschema.py
  tests/parser/test_jsonschema.py
Due: none

Fix builtin formatter CI failures
  tests/data/expected/main/input_model/config_class.py
  tests/main/test_main_general.py
Due: none

Fix object type test target
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Respect formatter line length
  docs/formatting.md
  docs/llms-full.txt
  src/datamodel_code_generator/format.py
  tests/main/test_main_general.py
  tests/test_format.py
Due: none

Add builtin formatter line length option
  docs/cli-reference/index.md
  docs/cli-reference/quick-reference.md
  docs/cli-reference/template-customization.md
  docs/formatter-behavior.md
  docs/formatting.md
  docs/llms-full.txt
  docs/llms.txt
  docs/pyproject_toml.md
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/format.py
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/prompt_data.py
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main/input_model/config_class.py
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/main/test_main_general.py
  tests/main/test_public_api_signature_baseline.py
  tests/test_format.py
  tests/test_main_kr.py
  zensical.toml
Due: readme, config-types

Add object type option (#3177)
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/model/dataclass.py
  src/datamodel_code_generator/model/msgspec.py
  src/datamodel_code_generator/model/pydantic_v2/types.py
  src/datamodel_code_generator/model/types.py
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/parser/jsonschema.py
  src/datamodel_code_generator/prompt_data.py
  src/datamodel_code_generator/types.py
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main/input_model/config_class.py
  tests/data/expected/main/jsonschema/use_object_type_typed_dict.py
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/data/jsonschema/use_object_type.json
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/test_public_api_signature_baseline.py
Due: readme, config-types

Keep builtin formatter config scoped
  docs/cli-reference/index.md
  docs/cli-reference/quick-reference.md
  docs/cli-reference/template-customization.md
  docs/cli-reference/typing-customization.md
  docs/formatter-behavior.md
  docs/formatting.md
  docs/llms-full.txt
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/prompt_data.py
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/main/test_main_general.py
  tests/test_main_kr.py
Due: readme

Add black latest tox environment
  .github/workflows/test.yaml
  pyproject.toml
  tox.ini
  uv.lock
Due: none

Cover builtin formatter edge cases
  tests/test_format.py
Due: none

Improve builtin formatter compatibility
  docs/formatter-behavior.md
  src/datamodel_code_generator/format.py
  tests/test_format.py
Due: none

Fix builtin formatter type checks
  src/datamodel_code_generator/format.py
Due: none

Cache default formatter warning
  src/datamodel_code_generator/format.py
  tests/test_format.py
Due: none

Fix schema edge cases
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/parser/jsonschema.py
  src/datamodel_code_generator/util.py
  tests/data/expected/main/jsonschema/type_array_only_null.py
  tests/data/jsonschema/type_array_only_null.json
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Add XML Schema parser
  README.md
  docs/cli-reference/base-options.md
  docs/index.md
  docs/supported-data-types.md
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/enums.py
  src/datamodel_code_generator/parser/xmlschema.py
  tests/data/expected/main/xmlschema/purchase_order.py
  tests/data/xmlschema/common.xsd
  tests/data/xmlschema/purchase_order.xsd
  tests/main/conftest.py
  tests/main/xmlschema/conftest.py
  tests/main/xmlschema/test_main_xmlschema.py
  tests/test_infer_input_type.py
Due: readme

Fix object schema validators
  src/datamodel_code_generator/model/pydantic_v2/base_model.py
  src/datamodel_code_generator/model/pydantic_v2/imports.py
  src/datamodel_code_generator/model/template/pydantic_v2/BaseModel.jinja2
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/jsonschema/object_model_validators.py
  tests/data/jsonschema/object_model_validators.json
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Fix array contains validators
  src/datamodel_code_generator/model/pydantic_v2/base_model.py
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/jsonschema/array_contains_validators.py
  tests/data/jsonschema/array_contains_validators.json
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Fix complex contains validators
  src/datamodel_code_generator/model/pydantic_v2/base_model.py
  src/datamodel_code_generator/model/template/pydantic_v2/RootModel.jinja2
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/jsonschema/array_contains_validators.py
  tests/data/expected/main/jsonschema/root_array_contains_validators.py
  tests/data/jsonschema/array_contains_validators.json
  tests/data/jsonschema/root_array_contains_validators.json
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Fix XML Schema CI snapshots
  src/datamodel_code_generator/parser/xmlschema.py
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main/input_model/config_class.py
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/parser/test_xmlschema.py
Due: none

Fix dependent schema validators
  src/datamodel_code_generator/model/pydantic_v2/base_model.py
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/jsonschema/dependent_schema_property_validators.py
  tests/data/jsonschema/dependent_schema_property_validators.json
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Improve builtin formatter parity
  src/datamodel_code_generator/format.py
  tests/test_format.py
Due: none

Stabilize formatter parity test
  tests/test_format.py
Due: none

Fix conditional schema validators
  src/datamodel_code_generator/model/pydantic_v2/base_model.py
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/jsonschema/conditional_object_validators.py
  tests/data/jsonschema/conditional_object_validators.json
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Address XML Schema review feedback
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/parser/xmlschema.py
  tests/parser/test_xmlschema.py
  tests/test_infer_input_type.py
Due: none

Cover formatter parity edge cases
  tests/test_format.py
Due: none

Fix not schema validators
  src/datamodel_code_generator/model/pydantic_v2/base_model.py
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/jsonschema/not_object_validators.py
  tests/data/jsonschema/not_object_validators.json
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Cover XML input inference
  tests/test_infer_input_type.py
Due: none

Fix extra property schema validators
  src/datamodel_code_generator/model/pydantic_v2/base_model.py
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/jsonschema/additional_properties_array_schema_with_properties.py
  tests/data/expected/main/jsonschema/additional_properties_const_schema_with_properties.py
  tests/data/expected/main/jsonschema/additional_properties_enum_schema_with_properties.py
  tests/data/expected/main/jsonschema/additional_properties_object_schema_with_properties.py
  tests/data/expected/main/jsonschema/additional_properties_ref_schema_with_properties.py
  tests/data/expected/main/jsonschema/additional_properties_schema_with_properties.py
  tests/data/expected/main/jsonschema/unevaluated_properties_schema.py
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Resolve XML Schema namespace refs
  src/datamodel_code_generator/parser/xmlschema.py
  tests/parser/test_xmlschema.py
Due: none

Path conditions:
  readme: any of: ^(src/datamodel_code_generator/arguments\.py|README\.md|docs/index\.md)$
  config-types: any of: ^src/datamodel_code_generator/config\.py$
