Repository koxudaxi/datamodel-code-generator: changes, and which pre-commit hooks are due for each by the changed paths.
All: readme, config-types

readme:
  name: Update README command help
  entry: bash -c '[ -x .tox/fix/bin/python ] && PYTHON=.tox/fix/bin/python || PYTHON=.tox/fix/Scripts/python; test -x "$PYTHON" || tox run -e fix --notest -qq; "$PYTHON" scripts/update_command_help_on_markdown.py'
  language: system
  pass_filenames: false

config-types:
  name: Generate config TypedDicts
  ...

Use BaseGenerateConfig for preset config
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/preset.py
Due: none

Use literal for single enum preset
  docs/presets.md
  src/datamodel_code_generator/preset.py
  tests/data/expected/main/standard_preset_enum_literal_one.py
  tests/data/expected/preset_docs/presets_json.txt
  tests/data/expected/preset_docs/presets_markdown.txt
  tests/main/test_main_general.py
Due: none

Fix preset literal test target
  tests/data/expected/main/standard_preset_enum_literal_one.py
  tests/main/test_main_general.py
Due: none

Add strict nullable to standard preset
  README.md
  docs/index.md
  docs/presets.md
  src/datamodel_code_generator/preset.py
  tests/data/expected/preset_docs/presets_json.txt
  tests/data/expected/preset_docs/presets_markdown.txt
Due: readme

Add practical preset
  docs/llms-full.txt
  docs/presets.md
  skills/datamodel-code-generator/references/cli-options.md
  src/datamodel_code_generator/preset.py
  src/datamodel_code_generator/preset_names.py
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main/practical_preset_pydantic_v2.py
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/json_output.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/data/expected/preset_docs/presets_json.txt
  tests/data/expected/preset_docs/presets_markdown.txt
  tests/data/jsonschema/practical_preset.json
  tests/data/jsonschema/practical_preset_external.json
  tests/main/test_main_general.py
Due: none

Document preset workflows
  README.md
  docs/cli-reference/base-options.md
  docs/index.md
  docs/llms-full.txt
  docs/presets.md
  docs/pyproject_toml.md
  scripts/build_preset_docs.py
  src/datamodel_code_generator/preset.py
  tests/data/expected/preset_docs/presets_markdown.txt
Due: readme

Refine preset quick start
  README.md
  docs/index.md
  docs/llms-full.txt
  scripts/build_preset_docs.py
Due: readme

Update preset date
  README.md
  docs/cli-reference/base-options.md
  docs/index.md
  docs/llms-full.txt
  docs/presets.md
  scripts/build_preset_docs.py
  skills/datamodel-code-generator/references/cli-options.md
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/preset.py
  src/datamodel_code_generator/preset_names.py
  tests/data/config/pyproject_standard_preset.toml
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/json_output.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/data/expected/preset_docs/preset_names.txt
  tests/data/expected/preset_docs/presets_json.txt
  tests/data/expected/preset_docs/presets_markdown.txt
  tests/main/test_main_general.py
Due: readme

Preserve explicit falsy const defaults
  src/datamodel_code_generator/model/base.py
  tests/data/expected/main/jsonschema/use_default_with_const.py
  tests/data/jsonschema/use_default_with_const.json
  tests/model/test_dataclass.py
Due: none

Add target-specific presets
  README.md
  docs/cli-reference/base-options.md
  docs/index.md
  docs/llms-full.txt
  docs/presets.md
  scripts/build_preset_docs.py
  skills/datamodel-code-generator/references/cli-options.md
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/enums.py
  src/datamodel_code_generator/preset.py
  src/datamodel_code_generator/preset_names.py
  tests/data/config/pyproject_standard_preset.toml
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main/practical_preset_pydantic_v2.py
  tests/data/expected/main/standard_preset_enum_literal_one.py
  tests/data/expected/main/standard_preset_string_enum_py310.py
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/json_output.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/data/expected/preset_docs/preset_names.txt
  tests/data/expected/preset_docs/presets_json.txt
  tests/data/expected/preset_docs/presets_markdown.txt
  tests/data/jsonschema/practical_preset.json
  tests/main/test_main_general.py
Due: readme

Cover preset enum config values
  src/datamodel_code_generator/preset.py
  tests/data/expected/preset_docs/preset_config_enum_values.txt
  tests/test_build_preset_docs_script.py
Due: none

Fix optional primitive const emitting injected non-None default (#3434)
  src/datamodel_code_generator/model/base.py
  tests/data/expected/main/jsonschema/const_optional_primitive.py
  tests/data/expected/main/jsonschema/naming_strategy/primary_first_multi_file/output.py
  tests/data/expected/main/jsonschema/ref_with_const.py
  tests/data/expected/main/jsonschema/type_alias_chain_model_default_object_ref.py
  tests/data/expected/main/jsonschema/type_alias_chain_union_default_object_ref.py
  tests/data/expected/main/jsonschema/type_alias_dict_union_default_object_ref.py
  tests/data/expected/main/jsonschema/type_alias_inline_dict_union_default_object.py
  tests/data/expected/main/jsonschema/type_alias_inline_list_union_default_object.py
  tests/data/expected/main/jsonschema/type_alias_inline_union_default_object.py
  tests/data/expected/main/jsonschema/type_alias_inline_union_default_object_import_collision.py
  tests/data/expected/main/jsonschema/type_alias_inline_union_default_object_one_of.py
  tests/data/expected/main/jsonschema/type_alias_inline_union_default_object_type_override.py
  tests/data/expected/main/jsonschema/type_alias_list_model_default_object_ref.py
  tests/data/expected/main/jsonschema/type_alias_list_union_default_object_ref.py
  tests/data/expected/main/jsonschema/type_alias_model_default_object_ref.py
  tests/data/expected/main/jsonschema/type_alias_nullable_list_model_default_object_ref.py
  tests/data/expected/main/jsonschema/type_alias_nullable_model_default_object_ref.py
  tests/data/expected/main/jsonschema/type_alias_union_default_object_ref.py
  tests/data/expected/main/jsonschema/type_alias_union_default_object_ref_any_of.py
  tests/data/expected/main/jsonschema/type_alias_union_default_object_ref_dict_alias_branch.py
  tests/data/expected/main/jsonschema/type_alias_union_default_object_ref_one_of.py
  tests/data/expected/main/jsonschema/use_default_with_const.py
  tests/data/jsonschema/const_optional_primitive.json
  tests/data/jsonschema/use_default_with_const.json
  tests/main/jsonschema/test_main_jsonschema.py
  tests/model/test_dataclass.py
Due: none

Refine preset options
  README.md
  docs/cli-reference/base-options.md
  docs/index.md
  docs/llms-full.txt
  docs/presets.md
  scripts/build_preset_docs.py
  src/datamodel_code_generator/preset.py
  tests/data/expected/main/practical_preset_pydantic_v2.py
  tests/data/expected/main/standard_preset_dataclass.py
  tests/data/expected/main/standard_preset_enum_literal_one.py
  tests/data/expected/main/standard_preset_msgspec_struct.py
  tests/data/expected/main/standard_preset_no_snake_case.py
  tests/data/expected/main/standard_preset_no_use_annotated.py
  tests/data/expected/main/standard_preset_pydantic_v2.py
  tests/data/expected/main/standard_preset_string_enum_py310.py
  tests/data/expected/main/standard_preset_typed_dict.py
  tests/data/expected/preset_docs/presets_json.txt
  tests/data/expected/preset_docs/presets_markdown.txt
Due: readme

Update preset formatter fixtures
  tests/data/expected/main/standard_preset_msgspec_struct_black_lt_24.py
  tests/data/expected/main/standard_preset_no_snake_case_black_lt_24.py
Due: none

Escape generated pyproject TOML strings
  src/datamodel_code_generator/__main__.py
  tests/test_main_kr.py
Due: none

Infer target from preset
  README.md
  docs/cli-reference/base-options.md
  docs/cli-reference/model-customization.md
  docs/index.md
  docs/llms-full.txt
  docs/presets.md
  scripts/build_preset_docs.py
  skills/datamodel-code-generator/references/cli-options.md
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/preset.py
  tests/data/config/pyproject_standard_preset.toml
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/json_output.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/data/expected/preset_docs/presets_json.txt
  tests/data/expected/preset_docs/presets_markdown.txt
  tests/main/test_main_general.py
Due: readme

Refine preset target validation
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/preset.py
Due: none

Remove target version from preset examples
  docs/presets.md
  src/datamodel_code_generator/preset.py
  tests/data/expected/preset_docs/presets_json.txt
  tests/data/expected/preset_docs/presets_markdown.txt
Due: none

Clarify expanded preset examples
  docs/presets.md
  src/datamodel_code_generator/preset.py
  tests/data/expected/preset_docs/presets_json.txt
  tests/data/expected/preset_docs/presets_markdown.txt
Due: none

Improve preset docs navigation
  README.md
  docs/index.md
  docs/llms-full.txt
  docs/llms.txt
  scripts/build_preset_docs.py
  src/datamodel_code_generator/__main__.py
  tests/data/expected/main/generate_cli_command/false_boolean.txt
  tests/data/expected/main/generate_cli_command/list_option.txt
  tests/data/expected/main/generate_cli_command/no_use_specialized_enum.txt
  tests/data/expected/main/generate_cli_command/regular_false_boolean.txt
  tests/data/expected/main/generate_cli_command/true_boolean.txt
  tests/data/expected/main_kr/generate_cli_command/basic.txt
  tests/data/expected/main_kr/generate_cli_command/boolean_options.txt
  tests/data/expected/main_kr/generate_cli_command/excluded_options.txt
  tests/data/expected/main_kr/generate_cli_command/false_boolean.txt
  tests/data/expected/main_kr/generate_cli_command/list_options.txt
  tests/data/expected/main_kr/generate_cli_command/multiple_options.txt
  tests/data/expected/main_kr/generate_cli_command/no_use_specialized_enum.txt
  tests/data/expected/main_kr/generate_cli_command/spaces_in_values.txt
  tests/data/expected/main_kr/generate_cli_command/with_profile.txt
  tests/data/expected/main_kr/output_format_json/cli_command.txt
  zensical.toml
Due: readme

Mark TOML escaping test as allow_direct_assert
  tests/test_main_kr.py
Due: none

Simplify preset quick start
  README.md
  docs/index.md
  docs/llms-full.txt
  scripts/build_preset_docs.py
Due: readme

Test TOML escaping via e2e golden-file comparison
  tests/data/expected/main_kr/generate_pyproject_config/escapes_toml_strings.txt
  tests/test_main_kr.py
Due: none

Reorder README sections
  README.md
Due: readme

Clarify Python baseline in quick start
  README.md
  docs/index.md
  docs/llms-full.txt
  scripts/build_preset_docs.py
Due: readme

Escape generated pyproject TOML strings (#3436)
  src/datamodel_code_generator/__main__.py
  tests/data/expected/main_kr/generate_pyproject_config/escapes_toml_strings.txt
  tests/test_main_kr.py
Due: none

Refresh preset quick start examples
  README.md
  docs/index.md
  docs/llms-full.txt
  docs/presets.md
  scripts/build_preset_docs.py
  src/datamodel_code_generator/preset.py
  tests/data/expected/preset_docs/presets_markdown.txt
  tests/data/jsonschema/preset_quick_start_pet.json
Due: readme

Refine preset quick start docs
  README.md
  docs/index.md
  docs/llms-full.txt
  scripts/build_preset_docs.py
Due: readme

Type preset names as literals
  scripts/build_preset_docs.py
  src/datamodel_code_generator/preset_names.py
Due: none

Strengthen preset name typing
  scripts/build_preset_docs.py
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/preset_names.py
Due: none

Add preset to generate API
  scripts/build_preset_docs.py
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/config.py
  tests/data/expected/main/input_model/config_class.py
  tests/main/test_main_general.py
  tests/main/test_public_api_signature_baseline.py
Due: config-types

Generate typed preset config dict
  pyproject.toml
Due: none

Share preset config resolution
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/preset.py
Due: none

Remove duplicate preset resolvers
  src/datamodel_code_generator/preset.py
Due: none

Cover preset config branches
  tests/main/test_main_general.py
Due: none

Fix release draft breaking change notes
  .github/workflows/release-draft.yaml
  scripts/validate_release_draft_analysis.py
  tests/test_validate_release_draft_analysis_script.py
Due: none

Fix release draft breaking change notes (#3440)
  .github/workflows/release-draft.yaml
  scripts/validate_release_draft_analysis.py
  tests/test_validate_release_draft_analysis_script.py
Due: none

Path conditions:
  readme: any of: ^(src/datamodel_code_generator/arguments\.py|README\.md|docs/index\.md)$
  config-types: any of: ^src/datamodel_code_generator/config\.py$
