Repository koxudaxi/datamodel-code-generator: changes, and which pre-commit hooks are due for each by the changed paths.
All: readme, config-types

.pre-commit-config.yaml:

repos:
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.35.0
  hooks:
    - id: check-github-workflows
      args: [ "--verbose" ]
- repo: https://github.com/tox-dev/tox-ini-fmt
  rev: "1.7.1"
  hooks:
    - id: tox-ini-fmt
      args: ["-p", "fix"]
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: v2.11.1
  hooks:
    - id: pyproject-fmt
      args: ["--max-supported-python=3.14"]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: 'v0.14.9'
  hooks:
  - id: ruff-format
    exclude: "^tests/data|^src/datamodel_code_generator/_types/"
  - id: ruff
    exclude: "^tests/data|^src/datamodel_code_generator/_types/"
    args: ["--fix", "--unsafe-fixes", "--exit-non-zero-on-fix"]
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    additional_dependencies:
    - tomli
    exclude: "^tests/|^CODE_OF_CONDUCT.md|^docs/cli-reference/"
- repo: local
  hooks:
  - id: readme
    name: Update README command help
    entry: bash -c '[ -x .tox/fix/bin/python ] && PYTHON=.tox/fix/bin/python || PYTHON=.tox/fix/Scripts/python; test -x "$PYTHON" || tox run -e fix --notest -qq; "$PYTHON" scripts/update_command_help_on_markdown.py'
    language: system
    files: ^(src/datamodel_code_generator/arguments\.py|README\.md|docs/index\.md)$
    pass_filenames: false
  - id: config-types
    name: Generate config TypedDicts
    entry: bash -c '[ -x .tox/dev/bin/python ] && PREFIX=.tox/dev/bin || PREFIX=.tox/dev/Scripts; test -x "$PREFIX/python" || tox run -e dev --notest -qq; "$PREFIX/datamodel-codegen" --profile generate-config-dict && "$PREFIX/datamodel-codegen" --profile parser-config-dicts && "$PREFIX/datamodel-codegen" --profile parse-config-dict'
    language: system
    files: ^src/datamodel_code_generator/config\.py$
    pass_filenames: false

Fix non-string OpenAPI discriminator literals
  src/datamodel_code_generator/parser/base.py
  tests/data/expected/main/openapi/discriminator/integer_mapping.py
  tests/data/expected/main/openapi/discriminator/integer_no_mapping.py
  tests/data/expected/main/openapi/discriminator/integer_no_mapping_literal.py
  tests/data/expected/main/openapi/discriminator/partial_mapping.py
  tests/data/openapi/discriminator_integer_mapping.yaml
  tests/data/openapi/discriminator_integer_no_mapping.yaml
  tests/data/openapi/discriminator_partial_mapping.yaml
  tests/main/openapi/test_main_openapi.py
Due: none

Tighten discriminator value types
  src/datamodel_code_generator/parser/base.py
Due: none

Fix non-string OpenAPI discriminator literals (#3070)
  src/datamodel_code_generator/parser/base.py
  tests/data/expected/main/openapi/discriminator/integer_mapping.py
  tests/data/expected/main/openapi/discriminator/integer_no_mapping.py
  tests/data/expected/main/openapi/discriminator/integer_no_mapping_literal.py
  tests/data/expected/main/openapi/discriminator/partial_mapping.py
  tests/data/openapi/discriminator_integer_mapping.yaml
  tests/data/openapi/discriminator_integer_no_mapping.yaml
  tests/data/openapi/discriminator_partial_mapping.yaml
  tests/main/openapi/test_main_openapi.py
Due: none

Support JSON files for mapping options
  docs/cli-reference/model-customization.md
  docs/cli-reference/typing-customization.md
  src/datamodel_code_generator/arguments.py
  tests/main/jsonschema/test_main_jsonschema.py
Due: readme

Address PR review feedback
  docs/cli-reference/typing-customization.md
  src/datamodel_code_generator/arguments.py
  tests/main/jsonschema/test_main_jsonschema.py
Due: readme

Add mapping coverage test
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Add enum map object validation test
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Extract CLI error test helper
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Rename CLI error test helper
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Add helper docstring
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Support JSON files for mapping options (#3071)
  docs/cli-reference/model-customization.md
  docs/cli-reference/typing-customization.md
  docs/llms-full.txt
  src/datamodel_code_generator/arguments.py
  tests/main/jsonschema/test_main_jsonschema.py
Due: readme

Refresh project usage list
  README.md
  docs/index.md
Due: readme

Add more well-known project examples
  README.md
  docs/index.md
Due: readme

[codex] Refresh project usage list (#3072)
  README.md
  docs/index.md
  docs/llms-full.txt
Due: readme

Expand existing test
  tests/data/expected/main/openapi/discriminator/integer_mapping.py
  tests/data/openapi/discriminator_integer_mapping.yaml
Due: none

Map discriminator mapping values with real enum values
  src/datamodel_code_generator/parser/base.py
Due: none

Create test
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Fix base-class-map and enum-field-as-literal-map long inline json support
  src/datamodel_code_generator/arguments.py
Due: readme

Improve explanatory comment
  src/datamodel_code_generator/arguments.py
Due: readme

Fix formatting
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Fix `--base-class-map` and `--enum-field-as-literal-map` long inline json support (#3075)
  src/datamodel_code_generator/arguments.py
  tests/main/jsonschema/test_main_jsonschema.py
Due: readme

Add fix and tests
  src/datamodel_code_generator/parser/base.py
  tests/parser/test_base.py
Due: none

Remove unused noqa
  tests/parser/test_base.py
Due: none

Add one more noqa
  src/datamodel_code_generator/parser/base.py
Due: none

Add assertions to test
  tests/parser/test_base.py
Due: none

add some generation test for schemas with cyclic references in order to track the generated output
  tests/data/expected/main/graphql/cyclic_mutual_types.py
  tests/data/expected/main/jsonschema/cyclic_mutual_defs.py
  tests/data/expected/main/openapi/cyclic_component_refs.py
  tests/data/graphql/cyclic-mutual-types.graphql
  tests/data/jsonschema/cyclic_mutual_defs.json
  tests/data/openapi/cyclic_component_refs.yaml
  tests/main/graphql/test_main_graphql.py
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/openapi/test_main_openapi.py
Due: none

Add missing expected_file
  tests/main/graphql/test_main_graphql.py
Due: none

Update the `test_main_cyclic_` tests so that before the change they actually reproduce the issue (don't complete in a reasonable time)
  tests/data/expected/main/graphql/cyclic_mutual_types.py
  tests/data/expected/main/jsonschema/cyclic_mutual_defs.py
  tests/data/expected/main/openapi/cyclic_component_refs.py
  tests/data/graphql/cyclic-mutual-types.graphql
  tests/data/jsonschema/cyclic_mutual_defs.json
  tests/data/openapi/cyclic_component_refs.yaml
Due: none

tmp add
  model.py
Due: none

Prefer CLI input over pyproject url
  src/datamodel_code_generator/__main__.py
  tests/main/test_main_general.py
Due: none

Fix relative URL refs with path-only root ids
  src/datamodel_code_generator/reference.py
  tests/main/jsonschema/test_main_jsonschema.py
  tests/test_reference.py
Due: none

Prefer CLI input over pyproject url (#3083)
  src/datamodel_code_generator/__main__.py
  tests/main/test_main_general.py
Due: none

Add flag --use-default-keep-required-non-nullable
  docs/cli-reference/index.md
  docs/cli-reference/model-customization.md
  docs/cli-reference/quick-reference.md
  docs/llms-full.txt
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/model/base.py
  src/datamodel_code_generator/model/dataclass.py
  src/datamodel_code_generator/model/msgspec.py
  src/datamodel_code_generator/model/pydantic_base.py
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/parser/graphql.py
  src/datamodel_code_generator/parser/jsonschema.py
  src/datamodel_code_generator/parser/openapi.py
  src/datamodel_code_generator/prompt_data.py
  tests/data/expected/main/input_model/config_class.py
  tests/data/expected/main/jsonschema/default_keep_required_non_nullable_dataclass.py
  tests/data/expected/main/jsonschema/default_keep_required_non_nullable_msgspec.py
  tests/data/expected/main/jsonschema/default_keep_required_non_nullable_pydantic_v2.py
  tests/data/expected/main/openapi/default_keep_required_non_nullable_dataclass.py
  tests/data/expected/main/openapi/default_keep_required_non_nullable_msgspec.py
  tests/data/expected/main/openapi/default_keep_required_non_nullable_pydantic_v2.py
  tests/data/expected/main/openapi/use_default_keep_required_non_nullable.py
  tests/data/openapi/default_factory_keep_required_non_nullable.yaml
  tests/main/openapi/test_main_openapi.py
  tests/main/test_public_api_signature_baseline.py
Due: readme, config-types

Fix typo: non-nullabe -> non-nullable
  docs/cli-reference/model-customization.md
  docs/llms-full.txt
  tests/main/openapi/test_main_openapi.py
Due: none

rm ./tests/data/expected/main/jsonschema/default_keep_required_non_nullable_*
  tests/data/expected/main/jsonschema/default_keep_required_non_nullable_dataclass.py
  tests/data/expected/main/jsonschema/default_keep_required_non_nullable_msgspec.py
  tests/data/expected/main/jsonschema/default_keep_required_non_nullable_pydantic_v2.py
Due: none

Fix example: `field: Model = field(Model)` -> `field: int = 1`
  docs/cli-reference/model-customization.md
  docs/llms-full.txt
  src/datamodel_code_generator/arguments.py
  tests/main/openapi/test_main_openapi.py
Due: readme

Update CLI docs: link to file and use related_options=["--use-default"]
  docs/cli-reference/model-customization.md
  docs/llms-full.txt
  tests/main/openapi/test_main_openapi.py
Due: none

Fix wrong path for CLI doc: use openapi/default_factory_keep_required_non_nullable.yaml
  docs/cli-reference/model-customization.md
  docs/llms-full.txt
  tests/main/openapi/test_main_openapi.py
Due: none

Typo: `non nullable/optional` -> `non nullable/non-optional`
  docs/cli-reference/model-customization.md
  docs/cli-reference/quick-reference.md
  docs/llms-full.txt
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/prompt_data.py
  tests/main/openapi/test_main_openapi.py
Due: readme
