Repository koxudaxi/datamodel-code-generator: changes, and which pre-commit hooks are due for each by the changed paths.
All: readme, config-types

readme:
  name: Update README command help
  entry: bash -c '[ -x .tox/fix/bin/python ] && PYTHON=.tox/fix/bin/python || PYTHON=.tox/fix/Scripts/python; test -x "$PYTHON" || tox run -e fix --notest -qq; "$PYTHON" scripts/update_command_help_on_markdown.py'
  language: system
  pass_filenames: false

config-types:
  name: Generate config TypedDicts
  ...

Add coverage for omitted input file type
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Refactor generate tests to use assertion helper (#3047)
  tests/main/conftest.py
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/test_main_general.py
Due: none

Remove dead None guard from _needs_validate_default to fix coverage
  src/datamodel_code_generator/parser/base.py
  tests/parser/test_base.py
Due: none

Remove WrappedDefault in favor of validate_default=True for RootModel defaults
  src/datamodel_code_generator/model/_types.py
  src/datamodel_code_generator/model/base.py
  src/datamodel_code_generator/model/pydantic_base.py
  src/datamodel_code_generator/model/pydantic_v2/base_model.py
  src/datamodel_code_generator/parser/base.py
  tests/data/expected/main/jsonschema/root_model_default_value.py
  tests/data/expected/main/jsonschema/root_model_default_value_branches.py
  tests/data/expected/main/jsonschema/root_model_default_value_non_root.py
  tests/data/expected/main/openapi/referenced_default_use_annotated.py
Due: none

Make GraphQL scalar types extend TypeAliasBase
  src/datamodel_code_generator/model/scalar.py
  tests/data/expected/main/graphql/default_values_required_use_default.py
Due: none

Fix required fields with validate_default losing their default value
  src/datamodel_code_generator/model/pydantic_base.py
  tests/data/expected/main/graphql/pydantic_v2_empty_list_default.py
Due: none

Fix inaccurate docstring in test_needs_validate_default test
  tests/parser/test_base.py
Due: none

Add --allow-remote-refs flag to gate HTTP fetching of $ref targets
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/input_model/config_class.py
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/openapi/test_main_openapi.py
  tests/main/test_public_api_signature_baseline.py
  tests/parser/test_jsonschema.py
  tests/parser/test_openapi.py
Due: readme, config-types

Improve error message for missing local $ref files
  src/datamodel_code_generator/parser/jsonschema.py
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Validate HTTP responses before parsing as schema content
  src/datamodel_code_generator/http.py
  tests/test_http.py
Due: none

Switch download badge from pepy.tech to pypistats.org
  README.md
  docs/index.md
  docs/llms-full.txt
Due: readme

Switch download badge from pepy.tech to pypistats.org (#3052)
  README.md
  docs/index.md
  docs/llms-full.txt
Due: readme

Update projects list with notable AI/LLM ecosystem projects
  README.md
  docs/index.md
  docs/llms-full.txt
Due: readme

Update projects list with notable AI/LLM ecosystem projects (#3053)
  README.md
  docs/index.md
  docs/llms-full.txt
Due: readme

Fix required fields inconsistently rendering defaults (#3048)
  src/datamodel_code_generator/parser/base.py
  tests/data/expected/main/graphql/pydantic_v2_empty_list_default.py
Due: none

Fix --use-default making required fields nullable
  src/datamodel_code_generator/model/base.py
  src/datamodel_code_generator/model/dataclass.py
  src/datamodel_code_generator/model/msgspec.py
  src/datamodel_code_generator/model/pydantic_base.py
  src/datamodel_code_generator/model/template/dataclass.jinja2
  src/datamodel_code_generator/model/template/msgspec.jinja2
  src/datamodel_code_generator/model/template/pydantic_v2/BaseModel.jinja2
  src/datamodel_code_generator/model/template/pydantic_v2/dataclass.jinja2
  src/datamodel_code_generator/parser/graphql.py
  src/datamodel_code_generator/parser/jsonschema.py
  src/datamodel_code_generator/parser/openapi.py
  tests/data/expected/main/graphql/default_values_required_use_default.py
  tests/data/expected/main/jsonschema/all_of_use_default.py
  tests/data/expected/main/openapi/default_values_parameters_use_default.py
  tests/data/expected/main/openapi/use_default.py
Due: none

Add ryaml as optional YAML backend for faster parsing
  docs/cli-reference/field-customization.md
  docs/cli-reference/model-customization.md
  docs/cli-reference/template-customization.md
  docs/cli-reference/typing-customization.md
  pyproject.toml
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/util.py
  tests/test_yaml_backend.py
  uv.lock
Due: none

Bump ryaml minimum version to 0.5.1
  pyproject.toml
  uv.lock
Due: none

Add ryaml as optional YAML backend for faster parsing (#3055)
  docs/cli-reference/field-customization.md
  docs/cli-reference/model-customization.md
  docs/cli-reference/template-customization.md
  docs/cli-reference/typing-customization.md
  docs/llms-full.txt
  pyproject.toml
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/util.py
  tests/test_yaml_backend.py
  uv.lock
Due: none

Add tests for allOf --use-default and --force-optional coverage
  tests/data/expected/main/jsonschema/allof_required_use_default.py
  tests/data/expected/main/jsonschema/force_optional_required.py
  tests/data/jsonschema/allof_required_use_default.json
  tests/data/jsonschema/force_optional_required.json
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Pass use_default_with_required via constructor instead of patching
  src/datamodel_code_generator/parser/graphql.py
  src/datamodel_code_generator/parser/jsonschema.py
  src/datamodel_code_generator/parser/openapi.py
Due: none

Remove redundant local `import json` in test functions
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Add @pytest.mark.cli_doc marker for --allow-remote-refs
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Set status_code and headers on httpx mock responses
  src/datamodel_code_generator/http.py
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/openapi/test_main_openapi.py
  tests/main/test_main_json.py
  tests/parser/test_jsonschema.py
  tests/parser/test_openapi.py
  tests/test_main_kr.py
Due: none

Use SchemaFetchError instead of bare Exception in HTTP responses
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/http.py
  tests/test_http.py
Due: none

Wrap transport errors and normalize Content-Type check
  src/datamodel_code_generator/http.py
  tests/test_http.py
Due: none

Harden test assertions for blocked and missing refs
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Update release draft model and preserve breaking changes
  .github/workflows/release-draft.yaml
Due: none

Update release draft model and preserve breaking changes (#3057)
  .github/workflows/release-draft.yaml
Due: none

Change --allow-remote-refs default to warn instead of block
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/input_model/config_class.py
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/test_public_api_signature_baseline.py
Due: readme, config-types

Support --no-allow-remote-refs via BooleanOptionalAction
  src/datamodel_code_generator/arguments.py
Due: readme

Add --no-allow-remote-refs to CLI_OPTION_META
  src/datamodel_code_generator/cli_options.py
Due: none

Fix type alias template crash when reuse_model creates empty fields
  src/datamodel_code_generator/model/template/TypeAliasAnnotation.jinja2
  src/datamodel_code_generator/model/template/TypeAliasType.jinja2
  src/datamodel_code_generator/model/template/TypeStatement.jinja2
  src/datamodel_code_generator/model/template/UnionTypeStatement.jinja2
  tests/data/expected/main/openapi/reuse_model_with_type_alias.py
  tests/data/openapi/reuse_model_type_alias.json
  tests/main/openapi/test_main_openapi.py
Due: none

Fix same empty fields crash in UnionTypeAliasAnnotation and UnionTypeAliasType
  src/datamodel_code_generator/model/template/UnionTypeAliasAnnotation.jinja2
  src/datamodel_code_generator/model/template/UnionTypeAliasType.jinja2
Due: none

Skip reuse_model type alias test on old black versions
  tests/main/openapi/test_main_openapi.py
Due: none

Rename input fixture to match expected output filename
  tests/data/expected/main/openapi/reuse_model_with_type_alias.py
  tests/data/openapi/reuse_model_with_type_alias.json
  tests/main/openapi/test_main_openapi.py
Due: none

Add --allow-remote-refs to disable HTTP fetching of $ref by default (#3051)
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/http.py
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/input_model/config_class.py
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/openapi/test_main_openapi.py
  tests/main/test_main_json.py
  tests/main/test_public_api_signature_baseline.py
  tests/parser/test_jsonschema.py
  tests/parser/test_openapi.py
  tests/test_http.py
  tests/test_main_kr.py
Due: readme, config-types

Fix type alias template crash with reuse_model on empty fields (#3060)
  src/datamodel_code_generator/model/template/TypeAliasAnnotation.jinja2
  src/datamodel_code_generator/model/template/TypeAliasType.jinja2
  src/datamodel_code_generator/model/template/TypeStatement.jinja2
  src/datamodel_code_generator/model/template/UnionTypeAliasAnnotation.jinja2
  src/datamodel_code_generator/model/template/UnionTypeAliasType.jinja2
  src/datamodel_code_generator/model/template/UnionTypeStatement.jinja2
  tests/data/expected/main/openapi/reuse_model_with_type_alias.py
  tests/data/openapi/reuse_model_with_type_alias.json
  tests/main/openapi/test_main_openapi.py
Due: none

Path conditions:
  readme: any of: ^(src/datamodel_code_generator/arguments\.py|README\.md|docs/index\.md)$
  config-types: any of: ^src/datamodel_code_generator/config\.py$
