Repository koxudaxi/datamodel-code-generator: changes, and which pre-commit hooks are due for each by the changed paths.
All: readme, config-types

.pre-commit-config.yaml:

repos:
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.35.0
  hooks:
    - id: check-github-workflows
      args: [ "--verbose" ]
- repo: https://github.com/tox-dev/tox-ini-fmt
  rev: "1.7.1"
  hooks:
    - id: tox-ini-fmt
      args: ["-p", "fix"]
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: v2.11.1
  hooks:
    - id: pyproject-fmt
      args: ["--max-supported-python=3.14"]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: 'v0.14.9'
  hooks:
  - id: ruff-format
    exclude: "^tests/data|^src/datamodel_code_generator/_types/"
  - id: ruff
    exclude: "^tests/data|^src/datamodel_code_generator/_types/"
    args: ["--fix", "--unsafe-fixes", "--exit-non-zero-on-fix"]
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    additional_dependencies:
    - tomli
    exclude: "^tests/|^CODE_OF_CONDUCT.md|^docs/cli-reference/"
- repo: local
  hooks:
  - id: readme
    name: Update README command help
    entry: bash -c '[ -x .tox/fix/bin/python ] && PYTHON=.tox/fix/bin/python || PYTHON=.tox/fix/Scripts/python; test -x "$PYTHON" || tox run -e fix --notest -qq; "$PYTHON" scripts/update_command_help_on_markdown.py'
    language: system
    files: ^(src/datamodel_code_generator/arguments\.py|README\.md|docs/index\.md)$
    pass_filenames: false
  - id: config-types
    name: Generate config TypedDicts
    entry: bash -c '[ -x .tox/dev/bin/python ] && PREFIX=.tox/dev/bin || PREFIX=.tox/dev/Scripts; test -x "$PREFIX/python" || tox run -e dev --notest -qq; "$PREFIX/datamodel-codegen" --profile generate-config-dict && "$PREFIX/datamodel-codegen" --profile parser-config-dicts && "$PREFIX/datamodel-codegen" --profile parse-config-dict'
    language: system
    files: ^src/datamodel_code_generator/config\.py$
    pass_filenames: false

Add inferred union variant names
  docs/cli-reference/field-customization.md
  docs/cli-reference/index.md
  docs/cli-reference/quick-reference.md
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/parser/jsonschema.py
  src/datamodel_code_generator/prompt_data.py
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main/input_model/config_class.py
  tests/data/expected/main/jsonschema/infer_union_variant_names.py
  tests/data/jsonschema/infer_union_variant_names.json
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/test_main_general.py
  tests/main/test_public_api_signature_baseline.py
Due: readme, config-types

Fix union variant name CI checks
  skills/datamodel-code-generator/references/cli-options.md
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/json_output.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
Due: none

Update prompt expected output
  tests/data/expected/prompt/default_parser_text.txt
Due: none

Cover union variant name helpers
  tests/parser/test_jsonschema.py
Due: none

Address union variant name review
  src/datamodel_code_generator/parser/jsonschema.py
  tests/parser/test_jsonschema.py
Due: none

Cover union variant name fallback
  src/datamodel_code_generator/parser/jsonschema.py
  tests/parser/test_jsonschema.py
Due: none

Satisfy CodeQL for variant helpers
  src/datamodel_code_generator/parser/jsonschema.py
  tests/parser/test_jsonschema.py
Due: none

Keep union naming off hot path
  src/datamodel_code_generator/parser/jsonschema.py
Due: none

Avoid duplicate inferred variant names
  src/datamodel_code_generator/parser/jsonschema.py
  tests/parser/test_jsonschema.py
Due: none

Add model metadata output
  docs/cli-reference/base-options.md
  docs/cli-reference/index.md
  docs/cli-reference/quick-reference.md
  docs/llms-full.txt
  skills/datamodel-code-generator/references/cli-options.md
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parse_config_dict.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/prompt_data.py
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main/input_model/config_class.py
  tests/data/expected/main/jsonschema/model_metadata_base_model_name.py
  tests/data/expected/main/jsonschema/model_metadata_base_model_name_map.txt
  tests/data/expected/main/jsonschema/model_metadata_map.txt
  tests/data/expected/main/jsonschema/model_metadata_module_split/__init__.py
  tests/data/expected/main/jsonschema/model_metadata_module_split/metadata_payload.py
  tests/data/expected/main/jsonschema/model_metadata_module_split/root_title.py
  tests/data/expected/main/jsonschema/use_generic_base_class_circular_metadata_map.txt
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/json_output.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/data/expected/prompt/default_parser_text.txt
  tests/data/jsonschema/model_metadata.json
  tests/data/jsonschema/model_metadata_base_model_name.json
  tests/main/conftest.py
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/test_main_general.py
  tests/main/test_public_api_signature_baseline.py
  tests/parser/test_model_metadata.py
Due: readme, config-types

Add model name mapping
  docs/cli-reference/index.md
  docs/cli-reference/model-customization.md
  docs/cli-reference/quick-reference.md
  docs/llms-full.txt
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/prompt_data.py
  src/datamodel_code_generator/reference.py
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main/jsonschema/model_name_map.py
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/json_output.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/data/jsonschema/model_name_map.json
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/test_main_general.py
  tests/main/test_public_api_signature_baseline.py
  tests/test_reference.py
Due: readme, config-types

Update generated references
  skills/datamodel-code-generator/references/cli-options.md
  tests/data/expected/main/input_model/config_class.py
  tests/data/expected/prompt/default_parser_text.txt
Due: none

Handle nested schema namespaces
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/jsonschema/definitions_v2_namespace.py
  tests/data/expected/main/jsonschema/nested_defs_namespace_ref.py
  tests/data/expected/main/jsonschema/root_ref_self_with_keywords.py
  tests/data/jsonschema/definitions_v2_namespace.json
  tests/data/jsonschema/nested_defs_namespace_ref.json
  tests/data/jsonschema/root_ref_self_with_keywords.json
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Handle nested schema namespaces
  src/datamodel_code_generator/parser/jsonschema.py
Due: none

Resolve external discriminator mappings
  src/datamodel_code_generator/parser/openapi.py
  tests/data/expected/main/openapi/discriminator/external_mapping.py
  tests/data/openapi/discriminator_external_mapping/openapi.yaml
  tests/data/openapi/discriminator_external_mapping/schemas/bar.yaml
  tests/data/openapi/discriminator_external_mapping/schemas/foo.yaml
  tests/main/openapi/test_main_openapi.py
Due: none

Add RootModel sequence methods option
  skills/datamodel-code-generator/references/cli-options.md
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/model/pydantic_v2/root_model.py
  src/datamodel_code_generator/model/template/pydantic_v2/RootModel.jinja2
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/parser/jsonschema.py
  src/datamodel_code_generator/prompt_data.py
  src/datamodel_code_generator/util.py
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main/input_model/config_class.py
  tests/data/expected/main/jsonschema/root_model_sequence_methods.py
  tests/data/expected/main/jsonschema/root_model_sequence_methods_type_alias.py
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/json_output.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/data/expected/prompt/default_parser_text.txt
  tests/data/jsonschema/root_model_sequence_methods.json
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/test_main_general.py
  tests/main/test_public_api_signature_baseline.py
  tests/model/pydantic_v2/test_root_model.py
  tests/parser/test_jsonschema.py
Due: readme, config-types

Add dynamic model helper
  docs/dynamic-model-generation.md
  docs/llms-full.txt
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/dynamic.py
  src/datamodel_code_generator/model/pydantic_v2/root_model.py
  src/datamodel_code_generator/model/template/pydantic_v2/RootModel.jinja2
  src/datamodel_code_generator/util.py
  tests/main/test_dynamic_models.py
  tests/main/test_public_api_signature_baseline.py
  tests/model/pydantic_v2/test_root_model.py
  tests/test_util.py
Due: none

Clarify inferred union variant example
  docs/cli-reference/field-customization.md
  tests/data/expected/main/jsonschema/infer_union_variant_names_baseline.py
  tests/data/jsonschema/infer_union_variant_names.json
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Add inferred union variant names (#3442)
  docs/cli-reference/field-customization.md
  docs/cli-reference/index.md
  docs/cli-reference/quick-reference.md
  skills/datamodel-code-generator/references/cli-options.md
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/parser/jsonschema.py
  src/datamodel_code_generator/prompt_data.py
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main/input_model/config_class.py
  tests/data/expected/main/jsonschema/infer_union_variant_names.py
  tests/data/expected/main/jsonschema/infer_union_variant_names_baseline.py
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/json_output.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/data/expected/prompt/default_parser_text.txt
  tests/data/jsonschema/infer_union_variant_names.json
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/test_main_general.py
  tests/main/test_public_api_signature_baseline.py
  tests/parser/test_jsonschema.py
Due: readme, config-types

Document emitted model metadata
  docs/cli-reference/base-options.md
  docs/llms-full.txt
  scripts/build_cli_docs.py
  tests/conftest.py
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Add model metadata schema output
  docs/cli-reference/manual/output-format-json-schema.md
  docs/cli-reference/manual/output-format.md
  docs/cli-reference/quick-reference.md
  docs/cli-reference/utility-options.md
  docs/llms-full.txt
  scripts/build_cli_docs.py
  scripts/build_model_metadata_schema.py
  skills/datamodel-code-generator/references/cli-options.md
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/model_metadata.py
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/prompt.py
  src/datamodel_code_generator/resources/__init__.py
  src/datamodel_code_generator/resources/model_metadata.schema.json
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/json_output.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/data/expected/main_kr/output_format_json/model_metadata_schema.txt
  tests/data/expected/prompt/default_parser_text.txt
  tests/main/test_cli_fast_paths.py
  tests/parser/test_model_metadata.py
  tests/test_main_kr.py
Due: readme

Lazy load model metadata helpers
  scripts/measure_startup.py
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/model_metadata.py
  src/datamodel_code_generator/parser/base.py
  tests/main/test_performance.py
Due: none

Quote inline JSON in CLI docs
  docs/cli-reference/model-customization.md
  docs/cli-reference/typing-customization.md
  docs/llms-full.txt
  scripts/build_cli_docs.py
  tests/cli_doc/test_cli_options_sync.py
Due: none

Add model name mapping (#3444)
  docs/cli-reference/index.md
  docs/cli-reference/model-customization.md
  docs/cli-reference/quick-reference.md
  docs/cli-reference/typing-customization.md
  docs/llms-full.txt
  scripts/build_cli_docs.py
  skills/datamodel-code-generator/references/cli-options.md
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/prompt_data.py
  src/datamodel_code_generator/reference.py
  tests/cli_doc/test_cli_options_sync.py
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main/input_model/config_class.py
  tests/data/expected/main/jsonschema/model_name_map.py
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/json_output.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/data/expected/prompt/default_parser_text.txt
  tests/data/jsonschema/model_name_map.json
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/test_main_general.py
  tests/main/test_public_api_signature_baseline.py
  tests/test_reference.py
Due: readme, config-types

Normalize current root schema path comparison
  src/datamodel_code_generator/parser/jsonschema.py
  tests/parser/test_jsonschema.py
Due: none

Handle nested schema namespaces (#3445)
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/jsonschema/definitions_v2_namespace.py
  tests/data/expected/main/jsonschema/nested_defs_namespace_ref.py
  tests/data/expected/main/jsonschema/root_ref_self_with_keywords.py
  tests/data/jsonschema/definitions_v2_namespace.json
  tests/data/jsonschema/nested_defs_namespace_ref.json
  tests/data/jsonschema/root_ref_self_with_keywords.json
  tests/main/jsonschema/test_main_jsonschema.py
  tests/parser/test_jsonschema.py
Due: none

Resolve external discriminator mappings (#3446)
  src/datamodel_code_generator/parser/openapi.py
  tests/data/expected/main/openapi/discriminator/external_mapping.py
  tests/data/openapi/discriminator_external_mapping/openapi.yaml
  tests/data/openapi/discriminator_external_mapping/schemas/bar.yaml
  tests/data/openapi/discriminator_external_mapping/schemas/foo.yaml
  tests/main/openapi/test_main_openapi.py
Due: none

Unify JSON config option loading
  docs/aliases.md
  docs/cli-reference/field-customization.md
  docs/cli-reference/quick-reference.md
  docs/cli-reference/template-customization.md
  docs/cli-reference/utility-options.md
  docs/llm-integration.md
  docs/llms-full.txt
  docs/validators.md
  scripts/build_cli_docs.py
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/deprecations.py
  src/datamodel_code_generator/json_config.py
  src/datamodel_code_generator/prompt.py
  src/datamodel_code_generator/prompt_data.py
  src/datamodel_code_generator/watch.py
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/json_output.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/data/expected/prompt/default_parser_text.txt
  tests/main/graphql/test_main_graphql.py
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/openapi/test_main_openapi.py
  tests/main/test_cli_fast_paths.py
  tests/main/test_main_general.py
  tests/test_json_config.py
  tests/test_main_kr.py
Due: readme

Add slice overloads for RootModel sequence helpers
  src/datamodel_code_generator/model/pydantic_v2/root_model.py
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/jsonschema/root_model_sequence_methods.py
  tests/model/pydantic_v2/test_root_model.py
  tests/parser/test_jsonschema.py
Due: none

Use SupportsIndex for RootModel item access
  src/datamodel_code_generator/model/pydantic_v2/root_model.py
  tests/data/expected/main/jsonschema/root_model_sequence_methods.py
  tests/model/pydantic_v2/test_root_model.py
  tests/parser/test_jsonschema.py
Due: none

Make RootModel sequence helpers inherit Sequence
  docs/cli-reference/model-customization.md
  docs/llms-full.txt
  src/datamodel_code_generator/model/pydantic_v2/root_model.py
  src/datamodel_code_generator/model/template/pydantic_v2/RootModel.jinja2
  tests/data/expected/main/jsonschema/root_model_sequence_methods.py
  tests/main/jsonschema/test_main_jsonschema.py
  tests/model/pydantic_v2/test_root_model.py
  tests/parser/test_jsonschema.py
Due: none

Unify JSON config option loading
  docs/aliases.md
  docs/cli-reference/field-customization.md
  docs/cli-reference/quick-reference.md
  docs/cli-reference/template-customization.md
  docs/cli-reference/utility-options.md
  docs/deprecations.md
  docs/llm-integration.md
  docs/llms-full.txt
  docs/validators.md
  scripts/build_cli_docs.py
  skills/datamodel-code-generator/references/cli-options.md
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/deprecations.py
  src/datamodel_code_generator/json_config.py
  src/datamodel_code_generator/prompt.py
  src/datamodel_code_generator/prompt_data.py
  src/datamodel_code_generator/watch.py
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main/list_deprecations.txt
  tests/data/expected/main/list_deprecations_json.txt
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/json_output.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/data/expected/main_kr/output_format_json/config_schema_summary.txt
  tests/data/expected/main_kr/output_format_json/list_deprecations.txt
  tests/data/expected/prompt/default_parser_text.txt
  tests/main/graphql/test_main_graphql.py
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/openapi/test_main_openapi.py
  tests/main/test_cli_fast_paths.py
  tests/main/test_main_general.py
  tests/test_json_config.py
  tests/test_main_kr.py
Due: readme

Rename RootModel sequence option
  docs/cli-reference/index.md
  docs/cli-reference/model-customization.md
  docs/cli-reference/quick-reference.md
  docs/llms-full.txt
  skills/datamodel-code-generator/references/cli-options.md
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/model/pydantic_v2/root_model.py
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/parser/jsonschema.py
  src/datamodel_code_generator/prompt_data.py
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main/input_model/config_class.py
  tests/data/expected/main/jsonschema/root_model_sequence_interface.py
  tests/data/expected/main/jsonschema/root_model_sequence_interface_type_alias.py
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/json_output.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/data/expected/prompt/default_parser_text.txt
  tests/data/jsonschema/root_model_sequence_interface.json
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/test_main_general.py
  tests/main/test_public_api_signature_baseline.py
  tests/model/pydantic_v2/test_root_model.py
  tests/parser/test_jsonschema.py
Due: readme, config-types

Address JSON config import warnings
  src/datamodel_code_generator/json_config.py
Due: none

Use e2e coverage for JSON config options
  src/datamodel_code_generator/__main__.py
  tests/cli_doc/test_cli_options_sync.py
  tests/data/config/base_class_map.json
  tests/data/expected/main/generate_pyproject_config/json_mapping_option.txt
  tests/data/expected/main_kr/output_format_json/config_schema.txt
  tests/data/expected/main_kr/output_format_json/config_schema_summary.txt
  tests/main/conftest.py
  tests/main/graphql/test_main_graphql.py
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/test_main_general.py
  tests/parser/test_jsonschema.py
  tests/parser/test_model_metadata.py
  tests/test_json_config.py
  tests/test_main_kr.py
Due: none

Use golden coverage for config helpers
  docs/cli-reference/utility-options.md
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/watch.py
  tests/data/config/invalid.json
  tests/data/expected/json_config/legacy_fallback.txt
  tests/data/expected/json_config/mapping_source.txt
  tests/data/expected/json_config/missing_value.txt
  tests/data/expected/json_config/text_io_source.txt
  tests/data/expected/main_kr/output_format_json/json_ready_values.txt
  tests/data/expected/parser/jsonschema/current_root_schema_path_helper_edges.txt
  tests/data/expected/parser/jsonschema/union_variant_literal_helper_edges.txt
  tests/data/expected/parser/jsonschema/union_variant_name_helper_edges.txt
  tests/data/expected/parser/model_metadata/empty_model_metadata.txt
  tests/data/expected/parser/model_metadata/path_helpers.txt
  tests/main/conftest.py
  tests/main/jsonschema/test_main_jsonschema.py
  tests/parser/test_jsonschema.py
  tests/parser/test_model_metadata.py
  tests/test_json_config.py
  tests/test_main_kr.py
Due: none

Use e2e coverage for JSON config tests
  tests/data/config/invalid.json
  tests/data/expected/json_config/legacy_fallback.txt
  tests/data/expected/json_config/mapping_source.txt
  tests/data/expected/json_config/missing_value.txt
  tests/data/expected/json_config/text_io_source.txt
  tests/data/expected/main/jsonschema/enum_field_as_literal_map_legacy.py
  tests/data/expected/main/jsonschema/infer_union_variant_names_edges.py
  tests/data/expected/main_kr/output_format_json/json_ready_values.txt
  tests/data/expected/parser/jsonschema/current_root_schema_path_helper_edges.txt
  tests/data/expected/parser/jsonschema/union_variant_literal_helper_edges.txt
  tests/data/expected/parser/jsonschema/union_variant_name_helper_edges.txt
  tests/data/expected/parser/model_metadata/empty_model_metadata.txt
  tests/data/expected/parser/model_metadata/path_helpers.txt
  tests/data/jsonschema/infer_union_variant_names_edges.json
  tests/main/jsonschema/test_main_jsonschema.py
  tests/parser/test_jsonschema.py
  tests/parser/test_model_metadata.py
  tests/test_json_config.py
  tests/test_main_kr.py
  tests/test_reference.py
Due: none

Stabilize JSON config e2e coverage
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/json_config.py
  src/datamodel_code_generator/model_metadata.py
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/parser/jsonschema.py
  src/datamodel_code_generator/reference.py
  tests/data/expected/main/jsonschema/infer_union_variant_names_edges.py
  tests/data/jsonschema/infer_union_variant_names_edges.json
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Keep new option coverage in e2e tests
  tests/main/test_cli_fast_paths.py
  tests/main/test_main_general.py
  tests/main/test_performance.py
Due: none
