Repository koxudaxi/datamodel-code-generator: changes, and which pre-commit hooks are due for each by the changed paths.
All: readme, config-types

readme:
  name: Update README command help
  entry: bash -c '[ -x .tox/fix/bin/python ] && PYTHON=.tox/fix/bin/python || PYTHON=.tox/fix/Scripts/python; test -x "$PYTHON" || tox run -e fix --notest -qq; "$PYTHON" scripts/update_command_help_on_markdown.py'
  language: system
  pass_filenames: false

config-types:
  name: Generate config TypedDicts
  ...

Fix msgspec payload runtime validation
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/jsonschema/msgspec_payload_runtime_compatibility.py
  tests/data/expected/main/jsonschema/payload_runtime_compatibility.py
  tests/data/jsonschema/msgspec_payload_runtime_compatibility.json
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/payload_validation/conformance.py
Due: none

Fix msgspec payload runtime validation (#3462)
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/jsonschema/msgspec_payload_runtime_compatibility.py
  tests/data/expected/main/jsonschema/payload_runtime_compatibility.py
  tests/data/jsonschema/msgspec_payload_runtime_compatibility.json
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/payload_validation/conformance.py
Due: none

Add architecture documentation
  .github/workflows/generated-docs-sync.yaml
  docs/architecture.md
  docs/llms-full.txt
  docs/llms.txt
  scripts/build_architecture_docs.py
  tests/test_build_architecture_docs_script.py
  tox.ini
  zensical.toml
Due: none

Use shared helpers for architecture docs tests
  tests/data/expected/architecture_docs/architecture_inventory_core.txt
  tests/data/expected/architecture_docs/build_architecture_docs_check.txt
  tests/test_build_architecture_docs_script.py
Due: none

Document architecture docs test helpers
  tests/test_build_architecture_docs_script.py
Due: none

Fix architecture docs links and diagrams
  README.md
  docs/architecture.md
  docs/llms-full.txt
Due: readme

Document fast formatter choices
  README.md
  docs/formatter-behavior.md
  docs/formatting.md
  docs/index.md
  docs/llms-full.txt
  scripts/build_preset_docs.py
Due: readme

Make architecture pipeline diagram readable
  docs/architecture.md
  docs/llms-full.txt
Due: none

Document fast formatter choices (#3463)
  README.md
  docs/formatter-behavior.md
  docs/formatting.md
  docs/index.md
  docs/llms-full.txt
  scripts/build_preset_docs.py
Due: readme

Document parser graph helpers
  docs/architecture.md
  docs/llms-full.txt
Due: none

Add architecture documentation (#3464)
  .github/workflows/generated-docs-sync.yaml
  README.md
  docs/architecture.md
  docs/llms-full.txt
  docs/llms.txt
  scripts/build_architecture_docs.py
  tests/data/expected/architecture_docs/architecture_inventory_core.txt
  tests/data/expected/architecture_docs/build_architecture_docs_check.txt
  tests/test_build_architecture_docs_script.py
  tox.ini
  zensical.toml
Due: readme

Add release benchmark docs
  .github/workflows/generated-docs-sync.yaml
  .github/workflows/llms-txt.yaml
  .github/workflows/release-benchmarks.yaml
  README.md
  docs/assets/benchmarks/release-benchmarks-large-jsonschema.svg
  docs/assets/benchmarks/release-benchmarks-large-openapi.svg
  docs/assets/benchmarks/release-benchmarks-small-openapi.svg
  docs/assets/benchmarks/release-benchmarks.svg
  docs/data/release-benchmarks.json
  docs/index.md
  docs/llms-full.txt
  docs/llms.txt
  docs/performance-benchmarks.md
  scripts/build_preset_docs.py
  scripts/build_release_benchmark_docs.py
  scripts/collect_release_benchmarks.py
  scripts/merge_release_benchmarks.py
  scripts/release_benchmark_errors.py
  scripts/select_release_benchmark_versions.py
  tests/data/expected/release_benchmark_docs/build_release_benchmark_docs_check.txt
  tests/data/expected/release_benchmark_docs/collect_release_benchmarks_failures.txt
  tests/data/expected/release_benchmark_docs/collect_release_benchmarks_invalid_args.txt
  tests/data/expected/release_benchmark_docs/merge_release_benchmarks_cli_outputs.txt
  tests/data/expected/release_benchmark_docs/release_benchmark_cli_outputs.txt
  tests/data/expected/release_benchmark_docs/release_benchmark_error_helpers.txt
  tests/data/expected/release_benchmark_docs/release_benchmark_rendered.txt
  tests/data/expected/release_benchmark_docs/select_release_benchmark_versions_cli_outputs.txt
  tests/data/release_benchmarks/clickpy_versions.json
  tests/data/release_benchmarks/pypi_project.json
  tests/data/release_benchmarks/pypistats_overall.json
  tests/data/release_benchmarks/pypistats_recent.json
  tests/data/release_benchmarks/release_fragment_0641.json
  tests/data/release_benchmarks/sample.json
  tests/test_build_release_benchmark_docs_script.py
  tox.ini
  zensical.toml
Due: readme

Backfill release benchmark data
  docs/assets/benchmarks/release-benchmarks-large-jsonschema.svg
  docs/assets/benchmarks/release-benchmarks-large-openapi.svg
  docs/assets/benchmarks/release-benchmarks-small-openapi.svg
  docs/assets/benchmarks/release-benchmarks.svg
  docs/data/release-benchmarks.json
  docs/llms-full.txt
  docs/performance-benchmarks.md
  scripts/build_release_benchmark_docs.py
  tests/data/expected/release_benchmark_docs/release_benchmark_cli_outputs.txt
  tests/data/expected/release_benchmark_docs/release_benchmark_rendered.txt
  tests/data/release_benchmarks/sample.json
Due: none

Reuse validated JSON Schema objects
  src/datamodel_code_generator/model/base.py
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/jsonschema/ref_nullable_import_fast_path.py
  tests/data/expected/main/jsonschema/serialize_as_any_import_fast_path.py
  tests/data/jsonschema/ref_nullable_import_fast_path.json
  tests/data/jsonschema/serialize_as_any_import_fast_path.json
  tests/main/jsonschema/test_main_jsonschema.py
  tests/model/test_base.py
  tests/parser/test_jsonschema.py
Due: none

Cache JSON Schema refs on first load
  src/datamodel_code_generator/parser/jsonschema.py
  tests/parser/test_jsonschema.py
Due: none

Reuse validated JSON Schema objects (#3466)
  src/datamodel_code_generator/model/base.py
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/jsonschema/ref_nullable_import_fast_path.py
  tests/data/expected/main/jsonschema/serialize_as_any_import_fast_path.py
  tests/data/jsonschema/ref_nullable_import_fast_path.json
  tests/data/jsonschema/serialize_as_any_import_fast_path.json
  tests/main/jsonschema/test_main_jsonschema.py
  tests/model/test_base.py
  tests/parser/test_jsonschema.py
Due: none

Render benchmark charts in browser
  .github/workflows/generated-docs-sync.yaml
  .github/workflows/llms-txt.yaml
  .github/workflows/release-benchmarks.yaml
  README.md
  docs/assets/benchmarks/release-benchmarks-large-jsonschema.svg
  docs/assets/benchmarks/release-benchmarks-large-openapi.svg
  docs/assets/benchmarks/release-benchmarks-small-openapi.svg
  docs/assets/benchmarks/release-benchmarks.css
  docs/assets/benchmarks/release-benchmarks.js
  docs/assets/benchmarks/release-benchmarks.svg
  docs/index.md
  docs/llms-full.txt
  docs/performance-benchmarks.md
  scripts/build_preset_docs.py
  scripts/build_release_benchmark_docs.py
  tests/data/expected/release_benchmark_docs/release_benchmark_cli_outputs.txt
  tests/data/expected/release_benchmark_docs/release_benchmark_rendered.txt
  tests/test_build_release_benchmark_docs_script.py
  zensical.toml
Due: readme

Reuse validated schema definitions
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/jsonschema/same_file_ref_fast_path.py
  tests/data/jsonschema/same_file_ref_fast_path.json
  tests/main/jsonschema/test_main_jsonschema.py
  tests/parser/test_jsonschema.py
Due: none

Reuse validated schema definitions (#3467)
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/jsonschema/same_file_ref_fast_path.py
  tests/data/jsonschema/same_file_ref_fast_path.json
  tests/main/jsonschema/test_main_jsonschema.py
  tests/parser/test_jsonschema.py
Due: none

Cache reference resolution
  src/datamodel_code_generator/reference.py
  tests/data/expected/main/jsonschema/resolve_ref_cache_fast_path.py
  tests/data/jsonschema/resolve_ref_cache_fast_path.json
  tests/main/jsonschema/test_main_jsonschema.py
  tests/test_reference.py
Due: none

Improve benchmark charts
  .github/workflows/generated-docs-sync.yaml
  .github/workflows/llms-txt.yaml
  .github/workflows/release-benchmarks.yaml
  docs/assets/benchmarks/release-benchmarks.css
  docs/assets/benchmarks/release-benchmarks.js
  docs/data/release-benchmark-notes.json
  docs/llms-full.txt
  docs/performance-benchmarks.md
  scripts/build_release_benchmark_docs.py
  tests/data/expected/release_benchmark_docs/release_benchmark_cli_outputs.txt
  tests/data/expected/release_benchmark_docs/release_benchmark_rendered.txt
  tests/data/release_benchmarks/notes.json
  tests/test_build_release_benchmark_docs_script.py
Due: none

Revert schema object reuse
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/jsonschema/same_file_ref_fast_path.py
  tests/data/jsonschema/same_file_ref_fast_path.json
  tests/main/jsonschema/test_main_jsonschema.py
  tests/parser/test_jsonschema.py
Due: none

Revert schema object reuse (#3469)
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/jsonschema/same_file_ref_fast_path.py
  tests/data/jsonschema/same_file_ref_fast_path.json
  tests/main/jsonschema/test_main_jsonschema.py
  tests/parser/test_jsonschema.py
Due: none

Fix benchmark note scope fallback
  scripts/build_release_benchmark_docs.py
Due: none

Update release benchmark docs
  docs/assets/benchmarks/release-benchmarks.js
  docs/data/release-benchmarks.json
  docs/llms-full.txt
  docs/performance-benchmarks.md
  scripts/build_release_benchmark_docs.py
  scripts/merge_release_benchmarks.py
  tests/data/expected/release_benchmark_docs/merge_release_benchmarks_cli_outputs.txt
  tests/data/expected/release_benchmark_docs/release_benchmark_cli_outputs.txt
  tests/data/expected/release_benchmark_docs/release_benchmark_rendered.txt
  tests/data/release_benchmarks/sample.json
Due: none

Fix benchmark note scope
  scripts/build_release_benchmark_docs.py
Due: none

Defer CLI config imports
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/base_config.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/model/base.py
  src/datamodel_code_generator/model/pydantic_v2/__init__.py
  src/datamodel_code_generator/model/pydantic_v2/base_model.py
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/parser/jsonschema.py
  src/datamodel_code_generator/preset.py
  src/datamodel_code_generator/reference.py
  src/datamodel_code_generator/types.py
  src/datamodel_code_generator/util.py
  src/datamodel_code_generator/validators.py
  tests/main/test_cli_fast_paths.py
Due: config-types

Document local URL helper
  src/datamodel_code_generator/__main__.py
Due: none

Speed up CLI generation
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/model/__init__.py
  src/datamodel_code_generator/model/base.py
  src/datamodel_code_generator/parser/jsonschema.py
  src/datamodel_code_generator/parser/openapi.py
  src/datamodel_code_generator/reference.py
  tests/main/test_cli_fast_paths.py
  tests/main/test_main_general.py
  tests/model/test_base.py
  tests/test_reference.py
  tests/test_yaml_backend.py
Due: none

Avoid YAML timestamp fast path
  src/datamodel_code_generator/__init__.py
  tests/test_yaml_backend.py
Due: none

Avoid CodeQL regex warning
  src/datamodel_code_generator/__init__.py
Due: none

Fix CLI fast path tests
  tests/main/test_cli_fast_paths.py
  tests/main/test_main_general.py
Due: none

Use construct for parser config
  src/datamodel_code_generator/__init__.py
  tests/main/test_main_general.py
Due: none

Trim risky speed paths
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/model/base.py
  src/datamodel_code_generator/reference.py
  tests/main/test_cli_fast_paths.py
  tests/model/test_base.py
  tests/test_reference.py
  tests/test_yaml_backend.py
Due: none

Trim YAML test diff
  tests/test_yaml_backend.py
Due: none

Speed up CLI generation (#3471)
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/base_config.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/model/__init__.py
  src/datamodel_code_generator/model/base.py
  src/datamodel_code_generator/model/pydantic_v2/__init__.py
  src/datamodel_code_generator/model/pydantic_v2/base_model.py
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/parser/jsonschema.py
  src/datamodel_code_generator/parser/openapi.py
  src/datamodel_code_generator/preset.py
  src/datamodel_code_generator/reference.py
  src/datamodel_code_generator/types.py
  src/datamodel_code_generator/util.py
  src/datamodel_code_generator/validators.py
  tests/main/test_cli_fast_paths.py
  tests/main/test_main_general.py
  tests/test_reference.py
Due: config-types

Add main benchmark support
  .github/workflows/release-benchmarks.yaml
  docs/assets/benchmarks/release-benchmarks.js
  docs/performance-benchmarks.md
  scripts/build_release_benchmark_docs.py
  scripts/collect_release_benchmarks.py
  tests/data/expected/release_benchmark_docs/collect_release_benchmark_install_specs.txt
  tests/data/expected/release_benchmark_docs/release_benchmark_cli_outputs.txt
  tests/data/expected/release_benchmark_docs/release_benchmark_rendered.txt
  tests/data/release_benchmarks/sample.json
  tests/test_build_release_benchmark_docs_script.py
Due: none

Update main benchmark results
  docs/data/release-benchmarks.json
  docs/performance-benchmarks.md
Due: none

Cache JSON Schema ref facts
  src/datamodel_code_generator/parser/jsonschema.py
  tests/parser/test_jsonschema.py
Due: none

Harden ref path cache test
  tests/parser/test_jsonschema.py
Due: none

Path conditions:
  readme: any of: ^(src/datamodel_code_generator/arguments\.py|README\.md|docs/index\.md)$
  config-types: any of: ^src/datamodel_code_generator/config\.py$
