Repository koxudaxi/datamodel-code-generator: changes, and which pre-commit hooks are due for each by the changed paths.
All: readme, config-types

readme:
  name: Update README command help
  entry: bash -c '[ -x .tox/fix/bin/python ] && PYTHON=.tox/fix/bin/python || PYTHON=.tox/fix/Scripts/python; test -x "$PYTHON" || tox run -e fix --notest -qq; "$PYTHON" scripts/update_command_help_on_markdown.py'
  language: system
  pass_filenames: false

config-types:
  name: Generate config TypedDicts
  ...

Address schema validator review
  docs/cli-reference/quick-reference.md
  docs/cli-reference/template-customization.md
  docs/experimental.md
  docs/llms-full.txt
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/experimental.py
  src/datamodel_code_generator/model/base.py
  src/datamodel_code_generator/model/pydantic_v2/base_model.py
  src/datamodel_code_generator/model/runtime_validation.py
  src/datamodel_code_generator/model/template/pydantic_v2/BaseModel.jinja2
  src/datamodel_code_generator/model/template/pydantic_v2/RootModel.jinja2
  src/datamodel_code_generator/model/template/pydantic_v2/schema_runtime_validation.jinja2
  src/datamodel_code_generator/parser/jsonschema.py
  src/datamodel_code_generator/prompt_data.py
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main/jsonschema/schema_validators.py
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/data/jsonschema/schema_validators.json
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/openapi/test_main_openapi.py
  tests/main/test_main_general.py
  tests/model/test_base.py
  tests/parser/test_jsonschema.py
  tests/test_experimental.py
Due: readme

Reuse schema validator helpers
  docs/cli-reference/template-customization.md
  docs/llms-full.txt
  src/datamodel_code_generator/model/base.py
  src/datamodel_code_generator/model/pydantic_v2/base_model.py
  src/datamodel_code_generator/model/runtime_validation.py
  src/datamodel_code_generator/model/template/pydantic_v2/schema_runtime_validation.jinja2
  src/datamodel_code_generator/model/template/pydantic_v2/schema_runtime_validation_helpers.jinja2
  src/datamodel_code_generator/parser/base.py
  tests/data/expected/main/jsonschema/schema_validators.py
Due: none

Tighten schema validator branch tests
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/jsonschema/schema_validators_parser_branch_runtime.json
  tests/data/jsonschema/schema_validators_required_branch_constraints.json
  tests/data/jsonschema/schema_validators_required_ref_branch_runtime.json
  tests/main/jsonschema/test_main_jsonschema.py
  tests/parser/test_jsonschema.py
Due: none

Fix playground runtime versions
  .github/workflows/docs-deploy.yaml
  scripts/build_playground_assets.py
  scripts/build_playground_release_versions.py
Due: none

Address playground review comments
  scripts/build_playground_assets.py
  scripts/build_playground_release_versions.py
Due: none

Fix playground CodeQL returns
  scripts/build_playground_assets.py
Due: none

Reuse schema validators via mixin
  docs/cli-reference/index.md
  docs/cli-reference/quick-reference.md
  docs/cli-reference/template-customization.md
  docs/llms-full.txt
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/model/pydantic_v2/base_model.py
  src/datamodel_code_generator/model/template/pydantic_v2/BaseModel.jinja2
  src/datamodel_code_generator/model/template/pydantic_v2/RootModel.jinja2
  src/datamodel_code_generator/model/template/pydantic_v2/schema_runtime_validation.jinja2
  src/datamodel_code_generator/model/template/pydantic_v2/schema_runtime_validation_helpers.jinja2
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/prompt_data.py
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main/input_model/config_class.py
  tests/data/expected/main/jsonschema/schema_validators.py
  tests/data/expected/main/jsonschema/schema_validators_custom_mixin_name.py
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/data/jsonschema/schema_validators_custom_mixin_name.json
  tests/data/jsonschema/schema_validators_parser_branch_runtime.json
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/test_public_api_signature_baseline.py
  tests/model/pydantic_v2/test_base_model.py
  tests/parser/test_jsonschema.py
Due: readme, config-types

Harden playground main checkout
  .github/workflows/docs-deploy.yaml
Due: none

Stabilize schema validator formatting
  src/datamodel_code_generator/model/template/pydantic_v2/BaseModel.jinja2
  src/datamodel_code_generator/model/template/pydantic_v2/RootModel.jinja2
  src/datamodel_code_generator/model/template/pydantic_v2/schema_runtime_validation.jinja2
  src/datamodel_code_generator/model/template/pydantic_v2/schema_runtime_validation_helpers.jinja2
Due: none

Use schema validator base class
  docs/cli-reference/index.md
  docs/cli-reference/quick-reference.md
  docs/cli-reference/template-customization.md
  docs/llms-full.txt
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/model/pydantic_v2/base_model.py
  src/datamodel_code_generator/model/template/pydantic_v2/BaseModel.jinja2
  src/datamodel_code_generator/model/template/pydantic_v2/RootModel.jinja2
  src/datamodel_code_generator/model/template/pydantic_v2/schema_runtime_validation_helpers.jinja2
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/prompt_data.py
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main/input_model/config_class.py
  tests/data/expected/main/jsonschema/schema_validators.py
  tests/data/expected/main/jsonschema/schema_validators_custom_base_class_name.py
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/data/jsonschema/schema_validators_custom_base_class_name.json
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/test_public_api_signature_baseline.py
  tests/model/pydantic_v2/test_base_model.py
Due: readme, config-types

Gate schema validator helper rendering
  src/datamodel_code_generator/model/pydantic_v2/base_model.py
  src/datamodel_code_generator/parser/base.py
  tests/model/pydantic_v2/test_base_model.py
Due: none

Lazy parse conditional schemas
  src/datamodel_code_generator/parser/jsonschema.py
Due: none

Fix playground runtime versions (#3229)
  .github/workflows/docs-deploy.yaml
  scripts/build_playground_assets.py
  scripts/build_playground_release_versions.py
Due: none

Add playground privacy note
  README.md
  docs/assets/playground/app.py
  docs/assets/playground/styles.css
  docs/index.md
  docs/llms-full.txt
  docs/playground.md
Due: readme

Use notes for playground privacy
  README.md
  docs/index.md
  docs/llms-full.txt
  docs/playground.md
Due: readme

Fix download badge
  README.md
  docs/index.md
  docs/llms-full.txt
Due: readme

Add playground privacy note (#3231)
  README.md
  docs/assets/playground/app.py
  docs/assets/playground/styles.css
  docs/index.md
  docs/llms-full.txt
  docs/playground.md
Due: readme

Fix download badge (#3232)
  README.md
  docs/index.md
  docs/llms-full.txt
Due: readme

Add MCP tools input type
  README.md
  action.yml
  docs/ci-cd.md
  docs/cli-reference/base-options.md
  docs/experimental.md
  docs/index.md
  docs/llms-full.txt
  docs/llms.txt
  docs/mcp-tools.md
  docs/supported-data-types.md
  docs/supported_formats.md
  scripts/build_playground_assets.py
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/enums.py
  src/datamodel_code_generator/experimental.py
  src/datamodel_code_generator/parser/mcp.py
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main/input_model/config_class.py
  tests/data/expected/main/mcp_tools/schema_tool_definitions.py
  tests/data/expected/main/mcp_tools/server_definition.py
  tests/data/expected/main/mcp_tools/tools_list.py
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/data/mcp_tools/schema_tool_definitions.json
  tests/data/mcp_tools/server_definition.json
  tests/data/mcp_tools/tools_list.json
  tests/main/conftest.py
  tests/main/test_main_general.py
  tests/main/test_main_json.py
  zensical.toml
Due: readme

Fix MCP tools CodeQL alerts
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/parser/mcp.py
Due: none

Cover MCP tools input variants
  src/datamodel_code_generator/__init__.py
  tests/data/expected/main/mcp_tools/definitions_ref.py
  tests/data/expected/main/mcp_tools/direct_tool.py
  tests/data/expected/main/mcp_tools/external_ref.py
  tests/data/expected/main/mcp_tools/mcp_servers.py
  tests/data/expected/main/mcp_tools/servers_list.py
  tests/data/expected/main/mcp_tools/top_level_list.py
  tests/data/expected/main/mcp_tools/top_level_tool_definitions.py
  tests/data/mcp_tools/definitions_ref.json
  tests/data/mcp_tools/direct_tool.json
  tests/data/mcp_tools/external_ref.json
  tests/data/mcp_tools/invalid_input_schema.json
  tests/data/mcp_tools/invalid_json.json
  tests/data/mcp_tools/invalid_top_level_list.json
  tests/data/mcp_tools/mcp_servers.json
  tests/data/mcp_tools/missing_input_schema.json
  tests/data/mcp_tools/no_tools.json
  tests/data/mcp_tools/non_mapping_definitions.json
  tests/data/mcp_tools/scalar.json
  tests/data/mcp_tools/servers_list.json
  tests/data/mcp_tools/top_level_list.json
  tests/data/mcp_tools/top_level_tool_definitions.json
  tests/main/test_main_general.py
Due: none

Cover MCP server without tools
  tests/data/mcp_tools/mcp_servers.json
Due: none

Handle MCP tools review feedback
  README.md
  action.yml
  docs/ci-cd.md
  docs/llms-full.txt
  src/datamodel_code_generator/__init__.py
  tests/data/expected/main/mcp_tools/remote_relative_ref.py
  tests/data/mcp_tools/remote_common.json
  tests/data/mcp_tools/remote_relative_ref.json
  tests/main/test_main_general.py
Due: readme

Fix MCP tools direct input test
  tests/main/test_main_general.py
Due: none

Update MCP tools public input type
  src/datamodel_code_generator/__init__.py
Due: none

Tighten MCP tool validation
  src/datamodel_code_generator/parser/mcp.py
  tests/data/mcp_tools/invalid_output_schema.json
  tests/data/mcp_tools/invalid_tool_title.json
  tests/main/test_main_general.py
Due: none

Refine MCP input validation
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/parser/mcp.py
Due: none

Add OpenAPI 3.2 schema version
  docs/cli-reference/base-options.md
  docs/index.md
  docs/llms-full.txt
  docs/openapi-options.md
  docs/supported-data-types.md
  docs/supported_formats.md
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/enums.py
  src/datamodel_code_generator/parser/jsonschema.py
  src/datamodel_code_generator/parser/openapi.py
  src/datamodel_code_generator/parser/schema_version.py
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main/jsonschema/anchor_ref.py
  tests/data/expected/main/openapi/item_schema.py
  tests/data/expected/main/openapi/item_schema_31.py
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/data/jsonschema/anchor_ref.json
  tests/data/openapi/item_schema.yaml
  tests/data/openapi/item_schema_31.yaml
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/openapi/test_main_openapi.py
  tests/parser/test_graphql.py
  tests/parser/test_schema_version.py
Due: readme

Validate MCP tools list input
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/parser/mcp.py
  tests/data/mcp_tools/missing_tool_name.json
  tests/main/test_main_general.py
  tests/main/test_public_api_signature_baseline.py
Due: none

Add OpenAPI 3.2 schema version (#3233)
  docs/cli-reference/base-options.md
  docs/index.md
  docs/llms-full.txt
  docs/openapi-options.md
  docs/supported-data-types.md
  docs/supported_formats.md
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/enums.py
  src/datamodel_code_generator/parser/jsonschema.py
  src/datamodel_code_generator/parser/openapi.py
  src/datamodel_code_generator/parser/schema_version.py
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main/jsonschema/anchor_ref.py
  tests/data/expected/main/openapi/item_schema.py
  tests/data/expected/main/openapi/item_schema_31.py
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/data/jsonschema/anchor_ref.json
  tests/data/openapi/item_schema.yaml
  tests/data/openapi/item_schema_31.yaml
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/openapi/test_main_openapi.py
  tests/parser/test_graphql.py
  tests/parser/test_schema_version.py
Due: readme

Parse AsyncAPI multi-format schemas
  src/datamodel_code_generator/parser/asyncapi.py
Due: none

Allow leading underscore class names
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/dynamic.py
  src/datamodel_code_generator/parser/avro.py
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/parser/jsonschema.py
  src/datamodel_code_generator/parser/xmlschema.py
  src/datamodel_code_generator/reference.py
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main/input_model/config_class.py
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/test_dynamic_models.py
  tests/main/test_public_api_signature_baseline.py
Due: readme, config-types

Fix dynamic cache type check
  src/datamodel_code_generator/dynamic.py
Due: none

Update CLI docs metadata
  docs/cli-reference/index.md
  docs/cli-reference/model-customization.md
  docs/cli-reference/quick-reference.md
  docs/llms-full.txt
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/prompt_data.py
  tests/data/expected/main/jsonschema/allow_leading_underscore_class_name.py
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Use e2e class name tests
  tests/data/expected/main/jsonschema/leading_underscore_class_name_default_unchanged.py
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Use file fixtures for dynamic class name tests
  tests/data/expected/dynamic_models/allow_leading_underscore_class_name.json
  tests/data/expected/dynamic_models/leading_underscore_class_name_default_unchanged.json
  tests/main/test_dynamic_models.py
Due: none

Parse AsyncAPI multi-format schemas (#3236)
  src/datamodel_code_generator/parser/asyncapi.py
Due: none

Allow leading underscore class names (#3237)
  docs/cli-reference/index.md
  docs/cli-reference/model-customization.md
  docs/cli-reference/quick-reference.md
  docs/llms-full.txt
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/dynamic.py
  src/datamodel_code_generator/parser/avro.py
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/parser/jsonschema.py
  src/datamodel_code_generator/parser/xmlschema.py
  src/datamodel_code_generator/prompt_data.py
  src/datamodel_code_generator/reference.py
  tests/data/expected/dynamic_models/allow_leading_underscore_class_name.json
  tests/data/expected/dynamic_models/leading_underscore_class_name_default_unchanged.json
  tests/data/expected/main/help/color.txt
  tests/data/expected/main/help/no_color.txt
  tests/data/expected/main/input_model/config_class.py
  tests/data/expected/main/jsonschema/allow_leading_underscore_class_name.py
  tests/data/expected/main/jsonschema/leading_underscore_class_name_default_unchanged.py
  tests/data/expected/main_kr/generate_prompt/basic.txt
  tests/data/expected/main_kr/generate_prompt/with_list_options.txt
  tests/data/expected/main_kr/generate_prompt/with_options.txt
  tests/data/expected/main_kr/generate_prompt/with_question.txt
  tests/data/expected/main_kr/help_shows_new_options.txt
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/test_dynamic_models.py
  tests/main/test_public_api_signature_baseline.py
Due: readme, config-types

Clarify uv installation guidance
  README.md
  docs/ci-cd.md
  docs/index.md
  docs/llms-full.txt
  docs/oneliner.md
Due: readme

Path conditions:
  readme: any of: ^(src/datamodel_code_generator/arguments\.py|README\.md|docs/index\.md)$
  config-types: any of: ^src/datamodel_code_generator/config\.py$
