Repository koxudaxi/datamodel-code-generator: changes, and which pre-commit hooks are due for each by the changed paths.
All: readme, config-types

.pre-commit-config.yaml:

repos:
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.35.0
  hooks:
    - id: check-github-workflows
      args: [ "--verbose" ]
- repo: https://github.com/tox-dev/tox-ini-fmt
  rev: "1.7.1"
  hooks:
    - id: tox-ini-fmt
      args: ["-p", "fix"]
- repo: https://github.com/tox-dev/pyproject-fmt
  rev: v2.11.1
  hooks:
    - id: pyproject-fmt
      args: ["--max-supported-python=3.14"]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: 'v0.14.9'
  hooks:
  - id: ruff-format
    exclude: "^tests/data|^src/datamodel_code_generator/_types/"
  - id: ruff
    exclude: "^tests/data|^src/datamodel_code_generator/_types/"
    args: ["--fix", "--unsafe-fixes", "--exit-non-zero-on-fix"]
- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    additional_dependencies:
    - tomli
    exclude: "^tests/|^CODE_OF_CONDUCT.md|^docs/cli-reference/"
- repo: local
  hooks:
  - id: readme
    name: Update README command help
    entry: bash -c '[ -x .tox/fix/bin/python ] && PYTHON=.tox/fix/bin/python || PYTHON=.tox/fix/Scripts/python; test -x "$PYTHON" || tox run -e fix --notest -qq; "$PYTHON" scripts/update_command_help_on_markdown.py'
    language: system
    files: ^(src/datamodel_code_generator/arguments\.py|README\.md|docs/index\.md)$
    pass_filenames: false
  - id: config-types
    name: Generate config TypedDicts
    entry: bash -c '[ -x .tox/dev/bin/python ] && PREFIX=.tox/dev/bin || PREFIX=.tox/dev/Scripts; test -x "$PREFIX/python" || tox run -e dev --notest -qq; "$PREFIX/datamodel-codegen" --profile generate-config-dict && "$PREFIX/datamodel-codegen" --profile parser-config-dicts && "$PREFIX/datamodel-codegen" --profile parse-config-dict'
    language: system
    files: ^src/datamodel_code_generator/config\.py$
    pass_filenames: false

Add release notification workflow
  .github/workflows/release-notify.yaml
Due: none

Run notification after Publish workflow completes
  .github/workflows/release-notify.yaml
Due: none

Add contents:read permission and tag resolution fallback
  .github/workflows/release-notify.yaml
Due: none

Use pagination for tag resolution fallback
  .github/workflows/release-notify.yaml
Due: none

Replace core.setFailed with throw Error
  .github/workflows/release-notify.yaml
Due: none

Add release notification workflow (#2884)
  .github/workflows/release-notify.yaml
Due: none

Add validation for class_name_prefix and class_name_suffix
  src/datamodel_code_generator/reference.py
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Add --class-name-prefix, --class-name-suffix, and --class-name-affix-scope options
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/enums.py
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/parser/graphql.py
  src/datamodel_code_generator/parser/jsonschema.py
  src/datamodel_code_generator/reference.py
  tests/data/expected/main/input_model/config_class.py
  tests/data/expected/main/jsonschema/class_name_affix_scope_models/output.py
  tests/data/expected/main/jsonschema/class_name_prefix/output.py
  tests/data/expected/main/jsonschema/class_name_suffix/output.py
  tests/data/expected/main/jsonschema/class_name_suffix_with_class_name/output.py
  tests/data/jsonschema/class_name_affix.json
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/test_public_api_signature_baseline.py
Due: readme, config-types

Fix coverage: add skip_generator_and_affix=True to scoped resolver
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/reference.py
Due: none

Revert "Fix coverage: add skip_generator_and_affix=True to scoped resolver"
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/reference.py
Due: none

Remove unused skip_generator_and_affix feature
  src/datamodel_code_generator/reference.py
Due: none

Add pragma no cover to Pydantic v2 validator
  src/datamodel_code_generator/__main__.py
Due: none

Add ULID and Email format documentation
  docs/supported-data-types.md
  docs/type-mappings.md
Due: none

Add ULID and Email format documentation (#2886)
  docs/supported-data-types.md
  docs/type-mappings.md
Due: none

Remove line comments
  src/datamodel_code_generator/parser/graphql.py
  src/datamodel_code_generator/reference.py
Due: none

Add --class-name-prefix, --class-name-suffix, and --class-name-affix-scope options (#2885)
  docs/cli-reference/index.md
  docs/cli-reference/model-customization.md
  docs/cli-reference/quick-reference.md
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/enums.py
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/parser/graphql.py
  src/datamodel_code_generator/parser/jsonschema.py
  src/datamodel_code_generator/prompt_data.py
  src/datamodel_code_generator/reference.py
  tests/data/expected/main/input_model/config_class.py
  tests/data/expected/main/jsonschema/class_name_affix_scope_models/output.py
  tests/data/expected/main/jsonschema/class_name_prefix/output.py
  tests/data/expected/main/jsonschema/class_name_suffix/output.py
  tests/data/expected/main/jsonschema/class_name_suffix_with_class_name/output.py
  tests/data/jsonschema/class_name_affix.json
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/test_public_api_signature_baseline.py
Due: readme, config-types

Use class-name-suffix for parser config TypedDicts
  pyproject.toml
  src/datamodel_code_generator/_types/__init__.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
Due: none

Use class-name-suffix for parser config TypedDicts (#2888)
  pyproject.toml
  src/datamodel_code_generator/_types/__init__.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
Due: none

Create type aliases for inline types with title when use-title-as-name is enabled
  docs/cli-reference/field-customization.md
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/jsonschema/titles_use_title_as_name.py
  tests/data/expected/main/jsonschema/use_title_as_name_inline_types.py
  tests/data/expected/main/jsonschema/use_title_as_name_inline_types_pydantic.py
  tests/data/jsonschema/use_title_as_name_inline_types.json
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Create type aliases for inline types with title when use-title-as-name is enabled (#2889)
  docs/cli-reference/field-customization.md
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/jsonschema/titles_use_title_as_name.py
  tests/data/expected/main/jsonschema/use_title_as_name_inline_types.py
  tests/data/expected/main/jsonschema/use_title_as_name_inline_types_pydantic.py
  tests/data/jsonschema/use_title_as_name_inline_types.json
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Create type aliases for nested elements with titles when use-title-as-name is enabled
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/jsonschema/use_title_as_name_nested_titles.py
  tests/data/expected/main/jsonschema/use_title_as_name_nested_titles_pydantic.py
  tests/data/jsonschema/use_title_as_name_nested_titles.json
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Fix duplicate model generation for $ref with nullable
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/jsonschema/ref_nullable_only.py
  tests/data/expected/main/jsonschema/ref_nullable_only_strict.py
  tests/data/expected/main/jsonschema/ref_nullable_with_constraint.py
  tests/data/expected/main/jsonschema/ref_nullable_with_extra.py
  tests/data/expected/main/jsonschema/ref_nullable_with_metadata.py
  tests/data/jsonschema/ref_nullable_only.yaml
  tests/data/jsonschema/ref_nullable_with_constraint.yaml
  tests/data/jsonschema/ref_nullable_with_extra.yaml
  tests/data/jsonschema/ref_nullable_with_metadata.yaml
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Add patternProperties and propertyNames support for use-title-as-name
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/jsonschema/use_title_as_name_nested_titles.py
  tests/data/expected/main/jsonschema/use_title_as_name_nested_titles_pydantic.py
  tests/data/jsonschema/use_title_as_name_nested_titles.json
Due: none

Fix duplicate model generation for $ref with nullable (#2890)
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/jsonschema/ref_nullable_only.py
  tests/data/expected/main/jsonschema/ref_nullable_only_strict.py
  tests/data/expected/main/jsonschema/ref_nullable_with_constraint.py
  tests/data/expected/main/jsonschema/ref_nullable_with_extra.py
  tests/data/expected/main/jsonschema/ref_nullable_with_metadata.py
  tests/data/jsonschema/ref_nullable_only.yaml
  tests/data/jsonschema/ref_nullable_with_constraint.yaml
  tests/data/jsonschema/ref_nullable_with_extra.yaml
  tests/data/jsonschema/ref_nullable_with_metadata.yaml
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Create type aliases for nested elements with titles when use-title-as-name is enabled (#2891)
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/jsonschema/use_title_as_name_nested_titles.py
  tests/data/expected/main/jsonschema/use_title_as_name_nested_titles_pydantic.py
  tests/data/jsonschema/use_title_as_name_nested_titles.json
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Clarify --aliases help text to explain schema field becomes Pydantic alias
  src/datamodel_code_generator/arguments.py
Due: readme

Clarify --aliases help text to explain schema field becomes Pydantic alias (#2892)
  src/datamodel_code_generator/arguments.py
Due: readme

Document external library import use case for --type-overrides
  docs/cli-reference/typing-customization.md
  tests/data/expected/main/type_overrides_external_lib.py
  tests/data/jsonschema/type_overrides_external_lib.json
  tests/main/test_main_general.py
Due: none

Document external library import use case for --type-overrides (#2893)
  docs/cli-reference/typing-customization.md
  tests/data/expected/main/type_overrides_external_lib.py
  tests/data/jsonschema/type_overrides_external_lib.json
  tests/main/test_main_general.py
Due: none

Add --openapi-include-paths option for path-based model filtering
  docs/cli-reference/index.md
  docs/cli-reference/openapi-only-options.md
  docs/cli-reference/quick-reference.md
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/parser/openapi.py
  tests/data/expected/main/input_model/config_class.py
  tests/data/expected/main/openapi/openapi_include_paths/pets_only.py
  tests/main/openapi/test_main_openapi.py
  tests/main/test_public_api_signature_baseline.py
Due: readme, config-types

Add FutureWarning for upcoming ruff default formatters
  docs/formatting.md
  pyproject.toml
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/format.py
  src/datamodel_code_generator/parser/base.py
  tests/data/expected/main/input_model/config_class.py
  tests/main/test_public_api_signature_baseline.py
  tests/test_format.py
Due: config-types

Add documentation for reducing duplicate field types with --use-type-alias
  docs/model-reuse.md
  tests/data/expected/main/jsonschema/reduce_duplicate_field_types.py
  tests/data/jsonschema/reduce_duplicate_field_types.json
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Use heading instead of bold for Result section
  docs/model-reuse.md
Due: none

Add --default-values CLI option for overriding field defaults
  docs/cli-reference/field-customization.md
  docs/cli-reference/index.md
  docs/cli-reference/quick-reference.md
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/parser/graphql.py
  src/datamodel_code_generator/parser/jsonschema.py
  src/datamodel_code_generator/parser/openapi.py
  src/datamodel_code_generator/prompt_data.py
  src/datamodel_code_generator/reference.py
  src/datamodel_code_generator/watch.py
  tests/data/default_values/graphql_user_defaults.json
  tests/data/default_values/invalid_json.json
  tests/data/default_values/non_dict.json
  tests/data/default_values/openapi_params_defaults.json
  tests/data/default_values/scoped_defaults.json
  tests/data/expected/main/graphql/default_values_required_use_default.py
  tests/data/expected/main/input_model/config_class.py
  tests/data/expected/main/jsonschema/jsonschema_default_values_override.py
  tests/data/expected/main/openapi/default_values_parameters_use_default.py
  tests/data/graphql/default_values_required.graphql
  tests/data/jsonschema/default_values_override.json
  tests/data/openapi/default_values_parameters.yaml
  tests/main/conftest.py
  tests/main/graphql/test_main_graphql.py
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/openapi/test_main_openapi.py
  tests/main/test_main_general.py
  tests/main/test_public_api_signature_baseline.py
Due: readme, config-types

Add dynamic model generation support
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/dynamic/__init__.py
  src/datamodel_code_generator/dynamic/constraints.py
  src/datamodel_code_generator/dynamic/creator.py
  src/datamodel_code_generator/dynamic/exceptions.py
  src/datamodel_code_generator/dynamic/type_resolver.py
  src/datamodel_code_generator/parser/base.py
  tests/dynamic/__init__.py
  tests/dynamic/test_creator.py
Due: none

Simplify dynamic module and improve coverage
  src/datamodel_code_generator/dynamic/constraints.py
  src/datamodel_code_generator/dynamic/creator.py
  src/datamodel_code_generator/dynamic/type_resolver.py
  tests/dynamic/test_creator.py
Due: none

Add documentation for reducing duplicate field types (#2896)
  docs/cli-reference/typing-customization.md
  docs/model-reuse.md
  tests/data/expected/main/jsonschema/reduce_duplicate_field_types.py
  tests/data/jsonschema/reduce_duplicate_field_types.json
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Add FutureWarning for upcoming ruff default formatters (#2895)
  docs/formatting.md
  pyproject.toml
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/format.py
  src/datamodel_code_generator/parser/base.py
  tests/data/expected/main/input_model/config_class.py
  tests/main/test_public_api_signature_baseline.py
  tests/test_format.py
Due: config-types

Add --openapi-include-paths option for path-based model filtering (#2894)
  docs/cli-reference/index.md
  docs/cli-reference/openapi-only-options.md
  docs/cli-reference/quick-reference.md
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/parser/openapi.py
  src/datamodel_code_generator/prompt_data.py
  tests/data/expected/main/input_model/config_class.py
  tests/data/expected/main/openapi/openapi_include_paths/pets_only.py
  tests/main/openapi/test_main_openapi.py
  tests/main/test_public_api_signature_baseline.py
Due: readme, config-types
