Repository koxudaxi/datamodel-code-generator: changes, and which pre-commit hooks are due for each by the changed paths.
All: readme, config-types

readme:
  name: Update README command help
  entry: bash -c '[ -x .tox/fix/bin/python ] && PYTHON=.tox/fix/bin/python || PYTHON=.tox/fix/Scripts/python; test -x "$PYTHON" || tox run -e fix --notest -qq; "$PYTHON" scripts/update_command_help_on_markdown.py'
  language: system
  pass_filenames: false

config-types:
  name: Generate config TypedDicts
  ...

Add more tests for dynamic module coverage
  tests/dynamic/test_creator.py
Due: none

Remove unused code and fix function-level imports
  src/datamodel_code_generator/dynamic/__init__.py
  src/datamodel_code_generator/dynamic/creator.py
  src/datamodel_code_generator/dynamic/exceptions.py
  src/datamodel_code_generator/dynamic/type_resolver.py
  tests/dynamic/test_creator.py
Due: none

Remove line comments and add flat key test coverage
  src/datamodel_code_generator/reference.py
  tests/data/default_values/graphql_user_defaults.json
  tests/data/expected/main/graphql/default_values_required_use_default.py
Due: none

Remove inline comments and move imports to top level
  src/datamodel_code_generator/dynamic/creator.py
  src/datamodel_code_generator/dynamic/type_resolver.py
Due: none

Remove line comments from parser files
  src/datamodel_code_generator/parser/graphql.py
  src/datamodel_code_generator/parser/jsonschema.py
  src/datamodel_code_generator/parser/openapi.py
Due: none

Remove line comments and fix description access bug
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/dynamic/constraints.py
  src/datamodel_code_generator/dynamic/creator.py
Due: none

Simplify resolve_default_value by removing redundant class_name check
  src/datamodel_code_generator/reference.py
Due: none

Refactor tests: use external files and inline-snapshot
  tests/data/dynamic/allof.json
  tests/data/dynamic/array_constraints.json
  tests/data/dynamic/circular.json
  tests/data/dynamic/default.json
  tests/data/dynamic/description.json
  tests/data/dynamic/enum.json
  tests/data/dynamic/exclusive_constraints.json
  tests/data/dynamic/formats.json
  tests/data/dynamic/min_max_properties.json
  tests/data/dynamic/multiple_allof.json
  tests/data/dynamic/nested.json
  tests/data/dynamic/numeric_constraints.json
  tests/data/dynamic/objects.json
  tests/data/dynamic/openapi.yaml
  tests/data/dynamic/optional.json
  tests/data/dynamic/refs.json
  tests/data/dynamic/required.json
  tests/data/dynamic/simple.json
  tests/data/dynamic/standalone_enum.json
  tests/data/dynamic/string_constraints.json
  tests/data/dynamic/tuple.json
  tests/data/dynamic/types.json
  tests/data/dynamic/unions.json
  tests/data/dynamic/unique_items.json
  tests/dynamic/test_creator.py
Due: none

Simplify type_resolver: use builtins for primitive types
  src/datamodel_code_generator/dynamic/type_resolver.py
  tests/data/dynamic/alias.yaml
  tests/data/dynamic/array_default.json
Due: none

DRY JSON config loading with _load_json_config helper
  src/datamodel_code_generator/__main__.py
Due: none

Add container type handling in TypeResolver
  src/datamodel_code_generator/dynamic/type_resolver.py
Due: none

Add test for custom_formatters_kwargs validation error
  tests/data/default_values/invalid_formatters_kwargs.json
  tests/main/test_main_general.py
Due: none

Handle class_name=None edge case and add allOf inheritance test
  src/datamodel_code_generator/reference.py
  tests/data/default_values/allof_defaults.json
  tests/data/expected/main/jsonschema/jsonschema_default_values_allof.py
  tests/data/jsonschema/default_values_allof.json
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Add --graphql-no-typename option to exclude typename field
  docs/cli-reference/graphql-only-options.md
  docs/cli-reference/index.md
  docs/cli-reference/quick-reference.md
  docs/graphql.md
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/parser/graphql.py
  tests/data/expected/main/graphql/no_typename.py
  tests/data/expected/main/input_model/config_class.py
  tests/data/expected/parser/graphql/no_typename.py
  tests/data/graphql/no-typename.graphql
  tests/main/graphql/test_main_graphql.py
  tests/main/test_public_api_signature_baseline.py
  tests/parser/test_graphql.py
Due: readme, config-types

Fix flat overrides skipped when class_name is None
  src/datamodel_code_generator/reference.py
Due: none

Add --graphql-no-typename option to exclude typename field (#2899)
  docs/cli-reference/graphql-only-options.md
  docs/cli-reference/index.md
  docs/cli-reference/quick-reference.md
  docs/graphql.md
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/parser/graphql.py
  src/datamodel_code_generator/prompt_data.py
  tests/data/expected/main/graphql/no_typename.py
  tests/data/expected/main/input_model/config_class.py
  tests/data/expected/parser/graphql/no_typename.py
  tests/data/graphql/no-typename.graphql
  tests/main/graphql/test_main_graphql.py
  tests/main/test_public_api_signature_baseline.py
  tests/parser/test_graphql.py
Due: readme, config-types

Simplify resolve_default_value scoped key logic
  src/datamodel_code_generator/reference.py
Due: none

Add --default-values CLI option for overriding field defaults (#2897)
  docs/cli-reference/field-customization.md
  docs/cli-reference/index.md
  docs/cli-reference/quick-reference.md
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/parser/graphql.py
  src/datamodel_code_generator/parser/jsonschema.py
  src/datamodel_code_generator/parser/openapi.py
  src/datamodel_code_generator/prompt_data.py
  src/datamodel_code_generator/reference.py
  src/datamodel_code_generator/watch.py
  tests/data/default_values/allof_defaults.json
  tests/data/default_values/graphql_user_defaults.json
  tests/data/default_values/invalid_formatters_kwargs.json
  tests/data/default_values/invalid_json.json
  tests/data/default_values/non_dict.json
  tests/data/default_values/openapi_params_defaults.json
  tests/data/default_values/scoped_defaults.json
  tests/data/expected/main/graphql/default_values_required_use_default.py
  tests/data/expected/main/input_model/config_class.py
  tests/data/expected/main/jsonschema/jsonschema_default_values_allof.py
  tests/data/expected/main/jsonschema/jsonschema_default_values_override.py
  tests/data/expected/main/openapi/default_values_parameters_use_default.py
  tests/data/graphql/default_values_required.graphql
  tests/data/jsonschema/default_values_allof.json
  tests/data/jsonschema/default_values_override.json
  tests/data/openapi/default_values_parameters.yaml
  tests/main/conftest.py
  tests/main/graphql/test_main_graphql.py
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/openapi/test_main_openapi.py
  tests/main/test_main_general.py
  tests/main/test_public_api_signature_baseline.py
Due: readme, config-types

Add dynamic model generation support
  src/datamodel_code_generator/__init__.py
  tests/main/test_dynamic_models.py
Due: none

Fix allOf with single ref creating unnecessary wrapper class
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/openapi/openapi_allof_single_ref_inline.py
  tests/data/openapi/allof_single_ref_inline.yaml
  tests/main/openapi/test_main_openapi.py
Due: none

Fix allOf with single ref creating unnecessary wrapper class (#2902)
  src/datamodel_code_generator/parser/jsonschema.py
  tests/data/expected/main/openapi/openapi_allof_single_ref_inline.py
  tests/data/openapi/allof_single_ref_inline.yaml
  tests/main/openapi/test_main_openapi.py
Due: none

Move dynamic model generation to separate module with lazy import
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/dynamic.py
  tests/main/test_dynamic_models.py
Due: none

Move imports to top level except circular import avoidance
  src/datamodel_code_generator/dynamic.py
Due: none

Add create_module_getattr helper for DRY lazy imports
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/types.py
  src/datamodel_code_generator/util.py
Due: none

Move dynamic.py imports to top level and use direct import in __init__.py
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/dynamic.py
Due: none

Fix --reuse-model --collapse-reuse-models to deduplicate identical inline definitions
  src/datamodel_code_generator/parser/base.py
  tests/data/expected/main/jsonschema/reuse_model_collapse_inline_definitions.py
  tests/data/expected/main/jsonschema/reuse_model_collapse_nested.py
  tests/data/expected/main/jsonschema/reuse_model_collapse_with_root.py
  tests/data/jsonschema/reuse_model_collapse_nested.json
  tests/data/jsonschema/reuse_model_collapse_with_root.json
  tests/data/jsonschema/reuse_model_inline_definitions.json
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Fix --reuse-model --collapse-reuse-models to deduplicate identical inline definitions (#2903)
  src/datamodel_code_generator/parser/base.py
  tests/data/expected/main/jsonschema/reuse_model_collapse_inline_definitions.py
  tests/data/expected/main/jsonschema/reuse_model_collapse_nested.py
  tests/data/expected/main/jsonschema/reuse_model_collapse_with_root.py
  tests/data/jsonschema/reuse_model_collapse_nested.json
  tests/data/jsonschema/reuse_model_collapse_with_root.json
  tests/data/jsonschema/reuse_model_inline_definitions.json
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Add multi-module support and simplify thread lock
  src/datamodel_code_generator/dynamic.py
  tests/main/test_dynamic_models.py
Due: none

Refactor tests with assert helpers and DRY patterns
  tests/main/test_dynamic_models.py
Due: none

Add --use-serialization-alias option for Pydantic v2
  docs/cli-reference/field-customization.md
  docs/cli-reference/index.md
  docs/cli-reference/quick-reference.md
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/model/base.py
  src/datamodel_code_generator/model/pydantic_v2/base_model.py
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/parser/graphql.py
  src/datamodel_code_generator/parser/jsonschema.py
  src/datamodel_code_generator/parser/openapi.py
  tests/data/expected/main/input_model/config_class.py
  tests/data/expected/main_kr/use_serialization_alias/output.py
  tests/main/test_public_api_signature_baseline.py
  tests/test_main_kr.py
Due: readme, config-types

Add --use-serialization-alias option for Pydantic v2 (#2905)
  docs/cli-reference/field-customization.md
  docs/cli-reference/index.md
  docs/cli-reference/quick-reference.md
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/model/base.py
  src/datamodel_code_generator/model/pydantic_v2/base_model.py
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/parser/graphql.py
  src/datamodel_code_generator/parser/jsonschema.py
  src/datamodel_code_generator/parser/openapi.py
  src/datamodel_code_generator/prompt_data.py
  tests/data/expected/main/input_model/config_class.py
  tests/data/expected/main_kr/use_serialization_alias/output.py
  tests/main/test_public_api_signature_baseline.py
  tests/test_main_kr.py
Due: readme, config-types

Add --validators option for Pydantic v2 field validators
  docs/cli-reference/general-options.md
  docs/cli-reference/index.md
  docs/cli-reference/quick-reference.md
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/cli_options.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/model/pydantic_v2/base_model.py
  src/datamodel_code_generator/model/pydantic_v2/imports.py
  src/datamodel_code_generator/model/template/pydantic_v2/BaseModel.jinja2
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/validators.py
  tests/data/expected/main/input_model/config_class.py
  tests/data/expected/main/jsonschema/field_validators.py
  tests/data/expected/main/jsonschema/field_validators_multi_fields.py
  tests/data/jsonschema/field_validators.json
  tests/data/jsonschema/field_validators_config.json
  tests/data/jsonschema/field_validators_multi_fields_config.json
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/test_public_api_signature_baseline.py
  tests/test_infer_input_type.py
Due: readme, config-types

Refactor to use stable_toposort and ast-based import parsing
  src/datamodel_code_generator/dynamic.py
  tests/main/expected/dynamic_models/allof_inheritance_dump.txt
  tests/main/expected/dynamic_models/circular_reference_dump.txt
  tests/main/expected/dynamic_models/multi_module_order_dump.txt
  tests/main/expected/dynamic_models/multi_module_user_dump.txt
  tests/main/expected/dynamic_models/numeric_constraints_dump.txt
  tests/main/expected/dynamic_models/simple_model_dump.txt
  tests/main/test_dynamic_models.py
Due: none

Add validators documentation page
  docs/validators.md
Due: none

Replace hash suffix with increment for validator method names
  docs/validators.md
  src/datamodel_code_generator/model/pydantic_v2/base_model.py
  tests/data/expected/main/jsonschema/field_validators.py
  tests/data/expected/main/jsonschema/field_validators_multi_fields.py
Due: none

Use ModelResolver for validator method name uniqueness
  src/datamodel_code_generator/model/pydantic_v2/base_model.py
Due: none

Use ValidatorsConfigType for strict typing and _load_json_config helper
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/model/pydantic_v2/base_model.py
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/validators.py
Due: config-types

Refactor tests to use model_validate assertions
  pyproject.toml
  tests/data/expected/dynamic_models/complex_schema.py
  tests/main/expected/dynamic_models/allof_inheritance_dump.txt
  tests/main/expected/dynamic_models/circular_reference_dump.txt
  tests/main/expected/dynamic_models/multi_module_order_dump.txt
  tests/main/expected/dynamic_models/multi_module_user_dump.txt
  tests/main/expected/dynamic_models/numeric_constraints_dump.txt
  tests/main/expected/dynamic_models/simple_model_dump.txt
  tests/main/test_dynamic_models.py
Due: none

Use Pydantic models for validators config validation
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/_types/generate_config_dict.py
  src/datamodel_code_generator/_types/parser_config_dicts.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/validators.py
Due: config-types

Path conditions:
  readme: any of: ^(src/datamodel_code_generator/arguments\.py|README\.md|docs/index\.md)$
  config-types: any of: ^src/datamodel_code_generator/config\.py$
