Repository koxudaxi/datamodel-code-generator: changes, and which pre-commit hooks are due for each by the changed paths.
All: readme, config-types

readme:
  name: Update README command help
  entry: bash -c '[ -x .tox/fix/bin/python ] && PYTHON=.tox/fix/bin/python || PYTHON=.tox/fix/Scripts/python; test -x "$PYTHON" || tox run -e fix --notest -qq; "$PYTHON" scripts/update_command_help_on_markdown.py'
  language: system
  pass_filenames: false

config-types:
  name: Generate config TypedDicts
  ...

Restore pragma: no cover for genuinely unreachable code paths
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/reference.py
  src/datamodel_code_generator/types.py
Due: none

Add pragma: no cover to unused compat functions pending removal in PR3
  src/datamodel_code_generator/util.py
Due: none

Fix coverage: add pragma to return statements of unused compat functions
  src/datamodel_code_generator/util.py
Due: none

Remove pydantic v1 runtime compat shims and update dependencies
  pyproject.toml
  src/datamodel_code_generator/pydantic_patch.py
  src/datamodel_code_generator/util.py
  uv.lock
Due: none

Remove pydantic v1 runtime compat layer (#3025)
  .github/workflows/test.yaml
  pyproject.toml
  src/datamodel_code_generator/__init__.py
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/input_model.py
  src/datamodel_code_generator/model/base.py
  src/datamodel_code_generator/model/msgspec.py
  src/datamodel_code_generator/model/pydantic_v2/__init__.py
  src/datamodel_code_generator/model/pydantic_v2/base_model.py
  src/datamodel_code_generator/parser/base.py
  src/datamodel_code_generator/parser/jsonschema.py
  src/datamodel_code_generator/parser/openapi.py
  src/datamodel_code_generator/reference.py
  src/datamodel_code_generator/types.py
  src/datamodel_code_generator/util.py
  src/datamodel_code_generator/validators.py
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/test_main_general.py
  tests/main/test_public_api_signature_baseline.py
  tests/parser/test_jsonschema.py
  tests/parser/test_openapi.py
  tests/test_input_model.py
  tox.ini
Due: config-types

test: restore coverage for v1 output removal
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/model/base.py
  src/datamodel_code_generator/types.py
  src/datamodel_code_generator/util.py
  tests/data/expected/main/openapi/custom_template_dir_include_override.py
  tests/data/expected/main_kr/main_use_field_description_example_dataclass/output.py
  tests/data/templates_include_only/pydantic_v2/ConfigDict.jinja2
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/openapi/test_main_openapi.py
  tests/test_input_model.py
  tests/test_main_kr.py
Due: readme

test: make integration helpers explicit about output model
  tests/main/conftest.py
  tests/main/test_main_general.py
  tests/test_input_model.py
Due: none

test: make integration helpers explicit about output model (#3028)
  tests/main/conftest.py
  tests/main/test_main_general.py
  tests/test_input_model.py
Due: none

feat: switch default output model to pydantic v2
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/input_model.py
  tests/data/expected/main/space_and_special_characters_dict_default_v2.py
  tests/main/conftest.py
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/openapi/test_main_openapi.py
  tests/main/test_main_general.py
  tests/main/test_public_api_signature_baseline.py
  tests/test_input_model.py
Due: readme, config-types

feat: switch default output model to pydantic v2 (#3029)
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/config.py
  src/datamodel_code_generator/input_model.py
  tests/data/expected/main/space_and_special_characters_dict_default_v2.py
  tests/main/conftest.py
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/openapi/test_main_openapi.py
  tests/main/test_main_general.py
  tests/main/test_public_api_signature_baseline.py
  tests/test_input_model.py
Due: readme, config-types

test: restore v1 baseline coverage
  tests/data/expected/main/jsonschema/additional_properties_false_pydantic_v1.py
  tests/data/expected/main/jsonschema/additional_properties_true_pydantic_v1.py
  tests/data/expected/main/jsonschema/unevaluated_properties_pydantic_v1.py
  tests/data/expected/main/jsonschema/unevaluated_properties_true_pydantic_v1.py
  tests/data/expected/main/jsonschema/use_frozen_field_v1.py
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/openapi/test_main_openapi.py
Due: none

feat: remove pydantic v1 output support
  src/datamodel_code_generator/__main__.py
  src/datamodel_code_generator/arguments.py
  src/datamodel_code_generator/enums.py
  src/datamodel_code_generator/input_model.py
  src/datamodel_code_generator/model/__init__.py
  src/datamodel_code_generator/model/base.py
  src/datamodel_code_generator/model/pydantic/__init__.py
  src/datamodel_code_generator/model/pydantic/base_model.py
  src/datamodel_code_generator/model/pydantic/custom_root_type.py
  src/datamodel_code_generator/model/pydantic/imports.py
  src/datamodel_code_generator/model/pydantic/types.py
  src/datamodel_code_generator/model/pydantic_base.py
  src/datamodel_code_generator/model/template/pydantic/BaseModel.jinja2
  src/datamodel_code_generator/model/template/pydantic/BaseModel_root.jinja2
  src/datamodel_code_generator/model/template/pydantic/Config.jinja2
  src/datamodel_code_generator/prompt_data.py
  src/datamodel_code_generator/types.py
  src/datamodel_code_generator/util.py
  tests/conftest.py
  tests/data/expected/main/input_model/config_class.py
  tests/data/expected/main/input_model/dataclass_with_python_types.py
  tests/data/expected/main/input_model/model_with_python_types.py
  tests/data/expected/main/input_model/multiple_with_pydantic_output.py
  tests/data/expected/main/input_model/recursive_model_types.py
  tests/model/pydantic/__init__.py
  tests/model/pydantic/test_base_model.py
  tests/model/pydantic/test_constraint.py
  tests/model/pydantic/test_custom_root_type.py
  tests/model/pydantic/test_types.py
  tests/test_input_model.py
Due: readme

test: drop v1 output baselines after restack
  tests/data/expected/main/jsonschema/additional_properties_false_pydantic_v1.py
  tests/data/expected/main/jsonschema/additional_properties_true_pydantic_v1.py
  tests/data/expected/main/jsonschema/unevaluated_properties_pydantic_v1.py
  tests/data/expected/main/jsonschema/unevaluated_properties_true_pydantic_v1.py
  tests/data/expected/main/jsonschema/use_frozen_field_v1.py
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/openapi/test_main_openapi.py
Due: none

docs: clarify generated cli reference examples
  docs/cli-reference/field-customization.md
  docs/cli-reference/quick-reference.md
  docs/cli-reference/typing-customization.md
  docs/llms-full.txt
  src/datamodel_code_generator/prompt_data.py
  tests/data/expected/main/jsonschema/titles_use_title_as_name_cli_doc.py
  tests/main/graphql/test_annotated.py
  tests/main/jsonschema/test_main_jsonschema.py
  tests/main/openapi/test_main_openapi.py
  tests/test_main_kr.py
Due: none

refactor: remove dead util compatibility helpers
  src/datamodel_code_generator/util.py
  tests/data/expected/main/jsonschema/cli_doc/titles_use_title_as_name.py
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

refactor: remove dead coverage exemptions
  src/datamodel_code_generator/model/base.py
  src/datamodel_code_generator/types.py
  src/datamodel_code_generator/util.py
Due: none

refactor: remove unused UnionIntFloat string conversion
  src/datamodel_code_generator/model/pydantic_v2/types.py
  src/datamodel_code_generator/types.py
Due: none

docs: reuse standard golden for title-as-name cli docs
  docs/cli-reference/field-customization.md
  docs/llms-full.txt
  tests/data/expected/main/jsonschema/cli_doc/titles_use_title_as_name.py
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

docs: remove pydantic v1 references
  README.md
  action.yml
  docs/ci-cd.md
  docs/cli-reference/manual/profile.md
  docs/cli-reference/utility-options.md
  docs/dynamic-model-generation.md
  docs/faq.md
  docs/index.md
  docs/llms-full.txt
  docs/openapi.md
  docs/python-version-compatibility.md
  docs/root-model-and-type-alias.md
  docs/using_as_module.md
  docs/what_is_the_difference_between_v1_and_v2.md
  pyproject.toml
  scripts/build_cli_docs.py
  uv.lock
Due: readme

Fix all-export generation for hyphenated directories
  src/datamodel_code_generator/parser/base.py
  tests/data/expected/main/jsonschema/all_exports_hyphenated_directory/hyphenated_directory/__init__.py
  tests/data/expected/main/jsonschema/all_exports_hyphenated_directory/hyphenated_directory/order.py
  tests/data/jsonschema/all_exports_hyphenated_directory/hyphenated-directory/order.json
  tests/main/test_main_general.py
Due: none

docs: clarify profile example naming
  docs/cli-reference/manual/profile.md
  docs/cli-reference/utility-options.md
  docs/llms-full.txt
Due: none

new fixtures
  tests/data/expected/main/jsonschema/type_alias_chain_model_default_object_ref.py
  tests/data/expected/main/jsonschema/type_alias_chain_union_default_object_ref.py
  tests/data/expected/main/jsonschema/type_alias_dict_union_default_object_ref.py
  tests/data/expected/main/jsonschema/type_alias_inline_dict_union_default_object.py
  tests/data/expected/main/jsonschema/type_alias_inline_list_union_default_object.py
  tests/data/expected/main/jsonschema/type_alias_inline_union_default_object.py
  tests/data/expected/main/jsonschema/type_alias_inline_union_default_object_one_of.py
  tests/data/expected/main/jsonschema/type_alias_inline_union_default_object_silent_wrong_branch.py
  tests/data/expected/main/jsonschema/type_alias_list_model_default_object_ref.py
  tests/data/expected/main/jsonschema/type_alias_list_union_default_object_ref.py
  tests/data/expected/main/jsonschema/type_alias_model_default_object_ref.py
  tests/data/expected/main/jsonschema/type_alias_union_default_object_ref.py
  tests/data/expected/main/jsonschema/type_alias_union_default_object_ref_any_of.py
  tests/data/expected/main/jsonschema/type_alias_union_default_object_ref_mixed_scalar.py
  tests/data/expected/main/jsonschema/type_alias_union_default_object_ref_one_of.py
  tests/data/jsonschema/type_alias_chain_model_default_object_ref.json
  tests/data/jsonschema/type_alias_chain_union_default_object_ref.json
  tests/data/jsonschema/type_alias_dict_union_default_object_ref.json
  tests/data/jsonschema/type_alias_inline_dict_union_default_object.json
  tests/data/jsonschema/type_alias_inline_list_union_default_object.json
  tests/data/jsonschema/type_alias_inline_union_default_object.json
  tests/data/jsonschema/type_alias_inline_union_default_object_one_of.json
  tests/data/jsonschema/type_alias_inline_union_default_object_silent_wrong_branch.json
  tests/data/jsonschema/type_alias_list_model_default_object_ref.json
  tests/data/jsonschema/type_alias_list_union_default_object_ref.json
  tests/data/jsonschema/type_alias_model_default_object_ref.json
  tests/data/jsonschema/type_alias_union_default_object_ref.json
  tests/data/jsonschema/type_alias_union_default_object_ref_any_of.json
  tests/data/jsonschema/type_alias_union_default_object_ref_mixed_scalar.json
  tests/data/jsonschema/type_alias_union_default_object_ref_one_of.json
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

docs: address review feedback on v1 removal
  README.md
  action.yml
  docs/ci-cd.md
  docs/cli-reference/base-options.md
  docs/cli-reference/field-customization.md
  docs/cli-reference/general-options.md
  docs/cli-reference/graphql-only-options.md
  docs/cli-reference/model-customization.md
  docs/cli-reference/openapi-only-options.md
  docs/cli-reference/quick-reference.md
  docs/cli-reference/template-customization.md
  docs/cli-reference/typing-customization.md
  docs/cli-reference/utility-options.md
  docs/dynamic-model-generation.md
  docs/faq.md
  docs/index.md
  docs/llms-full.txt
  docs/llms.txt
  docs/output-model-types.md
  docs/python-version-compatibility.md
  scripts/build_cli_docs.py
  tests/main/jsonschema/test_main_jsonschema.py
  zensical.toml
Due: readme

docs: list pydantic dataclass in openapi outputs
  docs/openapi.md
Due: none

docs: sync llms output for openapi docs
  docs/llms-full.txt
Due: none

docs: fix cli doc summary generation
  docs/cli-reference/model-customization.md
  docs/cli-reference/quick-reference.md
  docs/cli-reference/template-customization.md
  docs/cli-reference/typing-customization.md
  docs/llms-full.txt
  scripts/build_cli_docs.py
  tests/conftest.py
Due: none

docs: remove pydantic v1 references (#3030)
  README.md
  action.yml
  docs/ci-cd.md
  docs/cli-reference/base-options.md
  docs/cli-reference/field-customization.md
  docs/cli-reference/general-options.md
  docs/cli-reference/graphql-only-options.md
  docs/cli-reference/manual/profile.md
  docs/cli-reference/model-customization.md
  docs/cli-reference/openapi-only-options.md
  docs/cli-reference/quick-reference.md
  docs/cli-reference/template-customization.md
  docs/cli-reference/typing-customization.md
  docs/cli-reference/utility-options.md
  docs/dynamic-model-generation.md
  docs/faq.md
  docs/index.md
  docs/llms-full.txt
  docs/llms.txt
  docs/openapi.md
  docs/output-model-types.md
  docs/python-version-compatibility.md
  docs/root-model-and-type-alias.md
  docs/using_as_module.md
  pyproject.toml
  scripts/build_cli_docs.py
  tests/conftest.py
  tests/main/jsonschema/test_main_jsonschema.py
  uv.lock
  zensical.toml
Due: readme

build: constrain pydantic for Python 3.14
  pyproject.toml
  uv.lock
Due: none

Remove pydantic v1 runtime compat shims and update dependencies (#3027)
  pyproject.toml
  src/datamodel_code_generator/pydantic_patch.py
  src/datamodel_code_generator/util.py
  uv.lock
Due: none

docs: remove final pydantic v1 references
  docs/graphql.md
  docs/llms-full.txt
  src/datamodel_code_generator/input_model.py
  src/datamodel_code_generator/model/base.py
Due: none

docs: remove final pydantic v1 references (#3036)
  docs/graphql.md
  docs/llms-full.txt
  src/datamodel_code_generator/input_model.py
  src/datamodel_code_generator/model/base.py
Due: none

one more fixture
  tests/data/expected/main/jsonschema/type_alias_recursive_default_list.py
  tests/data/jsonschema/type_alias_recursive_default_list.json
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

fix
  src/datamodel_code_generator/model/_types.py
  src/datamodel_code_generator/model/base.py
  src/datamodel_code_generator/model/pydantic_base.py
  src/datamodel_code_generator/model/pydantic_v2/base_model.py
  src/datamodel_code_generator/parser/base.py
Due: none

fix: use TypeAdapter for union dict defaults in type aliases and inline unions
  src/datamodel_code_generator/model/pydantic_base.py
  src/datamodel_code_generator/model/pydantic_v2/base_model.py
  src/datamodel_code_generator/model/pydantic_v2/imports.py
  tests/data/expected/main/jsonschema/pydantic_v2_multi_model_union_default_object.py
  tests/data/expected/main/jsonschema/pydantic_v2_multi_model_union_default_object_type_alias.py
  tests/data/expected/main/jsonschema/ref_union_default_object.py
  tests/data/jsonschema/multi_model_union_default_object.json
  tests/data/jsonschema/ref_union_default_object.json
  tests/main/jsonschema/test_main_jsonschema.py
Due: none

Fix all-export generation for hyphenated directories (#3033)
  src/datamodel_code_generator/parser/base.py
  tests/data/expected/main/jsonschema/all_exports_hyphenated_directory/hyphenated_directory/__init__.py
  tests/data/expected/main/jsonschema/all_exports_hyphenated_directory/hyphenated_directory/order.py
  tests/data/jsonschema/all_exports_hyphenated_directory/hyphenated-directory/order.json
  tests/main/test_main_general.py
Due: none

Path conditions:
  readme: any of: ^(src/datamodel_code_generator/arguments\.py|README\.md|docs/index\.md)$
  config-types: any of: ^src/datamodel_code_generator/config\.py$
